{% extends 'MyOrleansBundle::layout.html.twig' %}

    {% block content %}
        <div class="row agencyVideo">
            <div class="col s12">
                {% for cover in cover if cover.page == 'agence_cover' %}
                    <iframe id="myIframe" src="{{ cover.lien }}" frameborder="0"
                            allowfullscreen></iframe>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row center countRow">
                <h2 class="fancy"><span>Nos chiffres</span></h2>
                <div class="col s4">
                    <span class="count countTitle">5</span>
                    <p>Experts</p>
                </div>
                <div class="col s4 countBlock">
                    <span class="count countTitle">10</span>
                    <p>Années d'expériencs</p>
                </div>
                <div class="col s4 ">
                    <span class="count countTitle">1000</span>
                    <p>Appartements vendus</p>
                </div>
            </div>

            <div class="row equipeRow center">
                <h2 class="fancy"><span>l'Équipe</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row">
                        {% for collaborateur in collaborateurs %}
                            <div class="col l4 s12">
                                <div class="blockStaff">
                                    {% if collaborateur.media.lien is defined  %}
                                    <div class="imgStaff">

                                        <img src="{{ asset('uploads/'~collaborateur.media.lien ) }}" alt="">

                                    </div>
                                    {% endif %}
                                    <div class="infoStaff">
                                        <h3>{{ collaborateur.prenom }} {{ collaborateur.nom }}</h3>
                                        <h4>{{ collaborateur.fonction }}</h4>
                                        <div class="socialStaff">
                                            <a href="{{ collaborateur.lienTwiter }}" target="_blank"><i
                                                        class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="{{ collaborateur.lienLinkedin }}" target="_blank"><i
                                                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a class="mail" href='mailto:{{ collaborateur.email }}'><i
                                                        class="fa fa-envelope"
                                                        aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row center">
                <h2 class="fancy"><span>Nos événements</span></h2>
            </div>
            <section class="timeline">

                <ol>
                    {% for evenement in evenements %}

                        {% if evenement.dateDebut|date("Ymj") < "now"|date("Ymj") %}
                            <li>
                                <div class="event past-event center">
                                    <h4>{{ evenement.nom }}</h4>
                                    <h5>{{ evenement.dateDebut|date('j F Y') }}</h5>
                                    <p></p>{{ evenement.description }}
                                    {% for media in evenement.medias if media.typeMedia.nom == "image-cover" %}
                                    <img class="responsive-img" src="{{ asset('uploads/'~media.lien) }}">
                                    {% endfor %}
                                    <a class="waves-effect waves-light btn white" data-toggle="modal" data-id="{{ evenement.id }}"
                                       href="#modal-{{ evenement.id }}">VOIR LES PHOTOS</a>
                                </div>
                            </li>

                            <!-- Modal Structure -->
                           {# <div id="modal-{{ evenement.id }}" class="modal">
                                <div class="modal-content">
                                    <h4>Photos de l'événement {{ evenement.nom }}</h4>
                                    {{ render(controller('MyOrleansBundle:Carrousel:affichageCarrousel',
                                    {'id': evenement.id })) }}
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                                </div>
                            </div>#}

                        {% else %}
                            <li>
                                <div class="event future-event center">
                                    <h4>{{ evenement.nom }}</h4>
                                    <time>{{ evenement.dateDebut|date('j F Y') }} |
                                        <span>
                                        {{ evenement.heureDebut|date('H:m') }} - {{ evenement.heureFin|date('H:m') }}
                                        </span>
                                    </time>
                                    <p></p>{{ evenement.description }}
                                    {% for media in evenement.medias if media.typeMedia.nom == "image-cover" %}
                                        <img class="responsive-img" src="{{ asset('uploads/'~media.lien) }}">
                                    {% endfor %}
                                    <a class="button-collapse waves-effect waves-light btn" data-activates="slide-out">JE M'INSCRIS</a>
                                </div>
                            </li>

                        {% endif %}

                    {% endfor %}
                    <li></li>
                </ol>

                <div class="arrows">
                    <button class="arrow arrow__prev disabled btn-floating btn-large waves-effect waves-light light-green"
                            disabled>
                        <i class="medium material-icons">keyboard_arrow_left</i>
                    </button>
                    <button class="arrow arrow__next  btn-floating btn-large waves-effect waves-light light-green">
                        <i class="medium material-icons">keyboard_arrow_right</i>
                    </button>
                </div>
            </section>

            <div class="row  partenaires">
                <h2 class="fancy"><span>Nos partenaires</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row center">
                        {% for partenaire in partenaires %}
                            <div class="col s3 l1">
                                {% if partenaire.media.lien is defined  %}
                                <a href="{{ partenaire.url }}" target="_blank">
                                    <img class="img-responsive" src="{{ asset('uploads/'~partenaire.media.lien) }}"
                                         alt="{{ partenaire.nom }}">
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <!-- début formulaire de contact -->
        <form method="post" action="">
            <div id="slide-out" class="side-nav">
                <div class="userView">
                    <h3 align="center">Contactez nous !</h3>
                    <h4 align="center">{{ telephone_number }}</h4>
                    {{ form_start(contactForm) }}
                    <div class="row">

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_label(contactForm.nom) }}
                            {{ form_widget(contactForm.nom) }}
                            {{ form_errors(contactForm.nom) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_label(contactForm.prenom) }}
                            {{ form_widget(contactForm.prenom) }}
                            {{ form_errors(contactForm.prenom) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">email</i>
                            {{ form_label(contactForm.email) }}
                            {{ form_widget(contactForm.email) }}
                            {{ form_errors(contactForm.email) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">phone</i>
                            {{ form_label(contactForm.telephone) }}
                            {{ form_widget(contactForm.telephone) }}
                            {{ form_errors(contactForm.telephone) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">my_location</i>
                            {{ form_label(contactForm.codePostal) }}
                            {{ form_widget(contactForm.codePostal) }}
                            {{ form_errors(contactForm.codePostal) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">location_on</i>
                            {{ form_label(contactForm.ville) }}
                            {{ form_widget(contactForm.ville) }}
                            {{ form_errors(contactForm.ville) }}
                        </div>

                        <div class="input-field col l12 m12 s12">
                            <i class="material-icons prefix">my_location</i>
                            {{ form_label(contactForm.adresse) }}
                            {{ form_widget(contactForm.adresse) }}
                            {{ form_errors(contactForm.adresse) }}
                        </div>


                        <div class="input-field col l12 m12 s12">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_label(contactForm.message) }}
                            {{ form_widget(contactForm.message) }}
                            {{ form_errors(contactForm.message) }}
                        </div>

                        <div class="row center">
                            <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                            {{ form_widget(contactForm.newsletter) }}
                            {{ form_errors(contactForm.newsletter) }}
                        </div>
                    </div>

                    <div class="input-field col l12">
                        {{ form_row(contactForm.envoyer) }}
                    </div>

                    {{ form_end(contactForm) }}
                </div>

            </div>

        </form>

        <!--fin formulaire de contact-->


        {% block javascripts %}

            <script>
                $('.button-collapse').sideNav({
                        edge: 'right', // Choose the horizontal origin
                        draggable: false, // Choose whether you can drag to open on touch screens
                        closeOnClick: true
                    }
                );
                $('.carousel.carousel-slider').carousel({fullWidth: true});

                $(document).ready(function(){
                    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                    $('.modal').modal();
                });

            </script>
            <script type="text/javascript" src="{{ asset("js/count.js") }}"></script>
            <script type="text/javascript" src="{{ asset("js/timelineEvent.js") }}"></script>
            {{ parent() }}

        {% endblock %}
    {% endblock %}