{% extends 'MyOrleansBundle::layout.html.twig' %}

    {% block content %}
        <div class="row agencyVideo">
            <div class="col s12">
                <iframe id="myIframe" src="https://www.youtube.com/embed/CzyAV8f1j9Q" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="row center countRow">
            <h2 class="fancy"><span>Nos chiffres</span></h2>
            <div class="col s4">
                <h1 class="count countTitle">5</h1>
                <p>Experts</p>
            </div>
            <div class="col s4 countBlock">
                <h1 class="count countTitle">10</h1>
                <p>Années d'expériencs</p>
            </div>
            <div class="col s4 ">
                <h1 class="count countTitle">1000</h1>
                <p>Appartements vendus</p>
            </div>
        </div>

        <div class="row equipeRow">
            <h2 class="center-align fancy"><span>l'Équipe</span></h2>
            <div class="col s12 l10 offset-l1">
                <div class="row">
                    <div class="col l4 s12">
                        <div class="blockStaff">
                            <div class="imgStaff">
                                <img src="{{ asset('img/equipe/Fabien.jpeg') }}" alt="">
                            </div>
                            <div class="infoStaff">
                                <h3>Fabien Durand</h3>
                                <h4>Fondateur</h4>
                                <div class="socialStaff">
                                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                           aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col s12 l4">
                        <div class="blockStaff">
                            <div class="imgStaff">
                                <img src="{{ asset('img/equipe/Albane.jpeg') }}" alt="">
                            </div>
                            <div class="infoStaff">
                                <h3>Albane Pothain</h3>
                                <h4>
                        Responsable communicatioin
                                </h4>
                                <div class="socialStaff">
                                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                           aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="blockStaff">
                            <div class="imgStaff">
                                <img src="{{ asset('img/equipe/Fabien.jpeg') }}" alt="">
                            </div>
                            <div class="infoStaff">
                                <h3>Fabien Durand</h3>
                                <h4>Fondateur</h4>
                                <div class="socialStaff">
                                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                           aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col s12 l4">
                        <div class="blockStaff">
                            <div class="imgStaff">
                                <img src="{{ asset('img/equipe/Albane.jpeg') }}" alt="">
                            </div>
                            <div class="infoStaff">
                                <h3>Albane Pothain</h3>
                                <h4>
                                    Responsable communicatioin
                                </h4>
                                <div class="socialStaff">
                                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                           aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 s12">
                        <div class="blockStaff">
                            <div class="imgStaff">
                                <img src="{{ asset('img/equipe/Fabien.jpeg') }}" alt="">
                            </div>
                            <div class="infoStaff">
                                <h3>Fabien Durand</h3>
                                <h4>Fondateur</h4>
                                <div class="socialStaff">
                                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                           aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col s12 l4">
                        <div class="blockStaff">
                            <div class="imgStaff">
                                <img src="{{ asset('img/equipe/Albane.jpeg') }}" alt="">
                            </div>
                            <div class="infoStaff">
                                <h3>Albane Pothain</h3>
                                <h4>
                                    Responsable communicatioin
                                </h4>

                                <div class="socialStaff">
                                    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                    <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                           aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="fancy"><span>Nos événements</span></h2>
            <div class="col s6">

            </div>
            <div class="col s6">

            </div>
        </div>

        <div class="row  partenaires">
            <h2 class="fancy"><span>Nos partenaires</span></h2>
            <div class="col s12 l10 offset-l1">
                <div class="row ">
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img  class="img-responsive"src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1 ">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1 ">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1 ">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                    <div class="col s1">
                        <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6 l4">
                <img class="responsive-img" src="{{ asset('img/fnaim.png') }}">
            </div>
            <div class="col s6">

            </div>
        </div>



    {% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript" src="{{ asset("js/count.js") }}"></script>

        {% endblock %}
