{% extends 'MyOrleansBundle::layout.html.twig' %}

    {% block content %}
        <div class="row agencyVideo">
            <div class="col s12">
                <iframe id="myIframe" src="https://www.youtube.com/embed/CzyAV8f1j9Q" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="container">
            <div class="row center countRow">
                <h2 class="fancy"><span>Nos chiffres</span></h2>
                <div class="col s4">
                    <h1 class="count countTitle">5</h1>
                    <p>Experts</p>
                </div>
                <div class="col s4 countBlock">
                    <h1 class="count countTitle">10</h1>
                    <p>Années d'expériencs</p>
                </div>
                <div class="col s4 ">
                    <h1 class="count countTitle">1000</h1>
                    <p>Appartements vendus</p>
                </div>
            </div>

            <div class="row equipeRow center">
                <h2 class="fancy"><span>l'Équipe</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row">
                        <div class="col l4 s12">
                            <div class="blockStaff">
                                <div class="imgStaff">
                                    <img src="{{ asset('img/equipe/Fabien.jpeg') }}" alt="">
                                </div>
                                <div class="infoStaff">
                                    <h3>Fabien Durand</h3>
                                    <h4>Fondateur</h4>
                                    <div class="socialStaff">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"
                                                                       aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                               aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col s12 l4">
                            <div class="blockStaff">
                                <div class="imgStaff">
                                    <img src="{{ asset('img/equipe/Albane.jpeg') }}" alt="">
                                </div>
                                <div class="infoStaff">
                                    <h3>Albane Pothain</h3>
                                    <h4>
                                        Responsable communicatioin
                                    </h4>
                                    <div class="socialStaff">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"
                                                                       aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                               aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col l4 s12">
                            <div class="blockStaff">
                                <div class="imgStaff">
                                    <img src="{{ asset('img/equipe/Charles.jpeg') }}" alt="">
                                </div>
                                <div class="infoStaff">
                                    <h3>Fabien Durand</h3>
                                    <h4>Fondateur</h4>
                                    <div class="socialStaff">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"
                                                                       aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                               aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col s12 l4">
                            <div class="blockStaff">
                                <div class="imgStaff">
                                    <img src="{{ asset('img/equipe/Emilie.jpeg') }}" alt="">
                                </div>
                                <div class="infoStaff">
                                    <h3>Albane Pothain</h3>
                                    <h4>
                                        Responsable communicatioin
                                    </h4>
                                    <div class="socialStaff">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"
                                                                       aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                               aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 s12">
                            <div class="blockStaff">
                                <div class="imgStaff">
                                    <img src="{{ asset('img/equipe/Mica.jpeg') }}" alt="">
                                </div>
                                <div class="infoStaff">
                                    <h3>Fabien Durand</h3>
                                    <h4>Fondateur</h4>
                                    <div class="socialStaff">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"
                                                                       aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                               aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col s12 l4">
                            <div class="blockStaff">
                                <div class="imgStaff">
                                    <img src="{{ asset('img/logo_myorleans.png') }}" alt="">
                                </div>
                                <div class="infoStaff">
                                    <h3>Albane Pothain</h3>
                                    <h4>
                                        Responsable communicatioin
                                    </h4>

                                    <div class="socialStaff">
                                        <a href="#" target="_blank"><i class="fa fa-facebook"
                                                                       aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                        <a class="mail" href="mailto:albane@my-orleans.com"><i class="fa fa-envelope"
                                                                                               aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fin du premier bloc container -->

        <!-- Debut container fluid ---------->

        <div class="bloc-color container-fluid">
            <div class="row">
                <div class="col offset-s2 s8">

                    <div class="row center">
                        <h2 class="fancy"><span>Nos événements</span></h2>
                        <div class="col s12 l10 offset-l1 ">
                            <section class="timeline">
                                <ol>
                                    <li>
                                        <div>
                                            <time>10.02.2017</time>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                            blanditiis praesentium
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <time>22.03.2017</time>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                            blanditiis praesentium
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <time>1.04.2017</time>
                                            Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus
                                            mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non
                                            nisi.
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <time>31.05.2017</time>
                                            Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar
                                            tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
                                        </div>
                                    </li>
                                    <li></li>
                                </ol>

                                <div class="arrows">
                                    <button class="arrow arrow__prev disabled btn-floating btn-large waves-effect waves-light light-green"
                                            disabled>
                                        <i class="medium material-icons">keyboard_arrow_left</i>
                                    </button>
                                    <button class="arrow arrow__next  btn-floating btn-large waves-effect waves-light light-green">
                                        <i class="medium material-icons">keyboard_arrow_right</i>
                                    </button>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- fin container fluid ----->

        <!--- debut container   ------>

        <div class="container">
            <div class="row  partenaires">
                <h2 class="fancy"><span>Nos partenaires</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row center">
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1 ">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1 ">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1 ">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                        <div class="col s3 l1">
                            <a href="#"><img class="img-responsive" src="http://lorempixel.com/80/80/" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript" src="{{ asset("js/count.js") }}"></script>
          <script type="text/javascript" src="{{ asset("js/timelineEvent.js") }}"></script>

        {% endblock %}
    {% endblock %}