{% extends 'MyOrleansBundle::layout.html.twig' %}

    {% block content %}
        <div class="row agencyVideo">
            <div class="col s12">
                {% for cover in cover if cover.page == 'agence_cover' %}
                    <iframe id="myIframe" src="{{ cover.lien }}" frameborder="0"
                            allowfullscreen></iframe>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row center countRow">
                <h2 class="fancy"><span>Nos chiffres</span></h2>
                <div class="col s4">
                    <span class="count countTitle">5</span>
                    <p>Experts</p>
                </div>
                <div class="col s4 countBlock">
                    <span class="count countTitle">10</span>
                    <p>Années d'expériencs</p>
                </div>
                <div class="col s4 ">
                    <span class="count countTitle">1000</span>
                    <p>Appartements vendus</p>
                </div>
            </div>

            <div class="row equipeRow center">
                <h2 class="fancy"><span>l'Équipe</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row">
                        {% for collaborateur in collaborateurs %}
                            <div class="col l4 s12">
                                <div class="blockStaff">
                                    {% if collaborateur.media.lien is defined  %}
                                    <div class="imgStaff">

                                        <img src="{{ asset('uploads/'~collaborateur.media.lien ) }}" alt="">

                                    </div>
                                    {% endif %}
                                    <div class="infoStaff">
                                        <h3>{{ collaborateur.prenom }} {{ collaborateur.nom }}</h3>
                                        <h4>{{ collaborateur.fonction }}</h4>
                                        <div class="socialStaff">
                                            <a href="{{ collaborateur.lienTwiter }}" target="_blank"><i
                                                        class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="{{ collaborateur.lienLinkedin }}" target="_blank"><i
                                                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a class="mail" href='mailto:{{ collaborateur.email }}'><i
                                                        class="fa fa-envelope"
                                                        aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row center">
                <h2 class="fancy"><span>Nos événements</span></h2>
            </div>
            <section class="timeline">
                <ol>
                    {% for evenement in evenements %}
                        <li>
                            <div>
                                <time>{% if evenement.dateDebut %}{{ evenement.dateDebut|date('j-m-Y') }}{% endif %}</time>
                                {{ evenement.nom }}<br>
                                {{ evenement.description }}
                                {% for media in evenement.medias if media.typeMedia == 'image' %}
                                    <img class="responsive-img" src="{{ asset('uploads/'~media.lien) }}">
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                    <li></li>
                </ol>

                <div class="arrows">
                    <button class="arrow arrow__prev disabled btn-floating btn-large waves-effect waves-light light-green"
                            disabled>
                        <i class="medium material-icons">keyboard_arrow_left</i>
                    </button>
                    <button class="arrow arrow__next  btn-floating btn-large waves-effect waves-light light-green">
                        <i class="medium material-icons">keyboard_arrow_right</i>
                    </button>
                </div>
            </section>

            <div class="row  partenaires">
                <h2 class="fancy"><span>Nos partenaires</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row center">
                        {% for partenaire in partenaires %}
                            <div class="col s3 l1">
                                {% if partenaire.media.lien is defined  %}
                                <a href="{{ partenaire.url }}" target="_blank">
                                    <img class="img-responsive" src="{{ asset('uploads/'~partenaire.media.lien) }}"
                                         alt="{{ partenaire.nom }}">
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        {% block javascripts %}

            <script type="text/javascript" src="{{ asset("js/count.js") }}"></script>
            <script type="text/javascript" src="{{ asset("js/timelineEvent.js") }}"></script>
            {{ parent() }}
        {% endblock %}
    {% endblock %}