{% extends 'MyOrleansBundle::layout.html.twig' %}

    {% block content %}

        <!--logo dde de documentation-->
        <div class="breadcrumb">
            <a href="#" data-activates="slide-out" class="button-collapse pulse-button">
                <i class="material-icons">message</i></a>
        </div>
        <!--fin logo dde de documentation-->
        <div class="row agencyVideo">
            <div class="col s12">
                {% for cover in cover if cover.page == 'agence_cover' %}
                    <iframe id="myIframe" src="{{ cover.lien }}" frameborder="0"
                            allowfullscreen></iframe>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <div class="row center countRow">
                <h2 class="fancy"><span>Nos chiffres</span></h2>
                <div class="col s4">
                    <span class="count countTitle">5</span>
                    <p>Experts</p>
                </div>
                <div class="col s4 countBlock">
                    <span class="count countTitle">10</span>
                    <p>Années d'expériencs</p>
                </div>
                <div class="col s4 ">
                    <span class="count countTitle">1000</span>
                    <p>Appartements vendus</p>
                </div>
            </div>

            <div class="row equipeRow center">
                <h2 class="fancy"><span>l'Équipe</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row">
                        {% for collaborateur in collaborateurs %}
                            <div class="col l4 s12">
                                <div class="blockStaff">
                                    {% if collaborateur.media.lien is defined  %}
                                    <div class="imgStaff">
                                        <img src="{{ asset('uploads/'~collaborateur.media.lien ) }}" alt="">
                                    </div>
                                    {% endif %}
                                    <div class="infoStaff">
                                        <h3>{{ collaborateur.prenom }} {{ collaborateur.nom }}</h3>
                                        <h4>{{ collaborateur.fonction }}</h4>
                                        <div class="socialStaff">
                                            <a href="{{ collaborateur.lienTwiter }}" target="_blank"><i
                                                        class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="{{ collaborateur.lienLinkedin }}" target="_blank"><i
                                                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a class="mail" href='mailto:{{ collaborateur.email }}'><i
                                                        class="fa fa-envelope"
                                                        aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row center">
                <h2 class="fancy"><span>Nos événements</span></h2>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col s10 offset-s1">
                    <section class="timeline">

                        <ol>
                            {% for evenement in evenements %}

                                {% if evenement.dateDebut|date("Ymd") < "now"|date("Ymd") %}

                                    <li>
                                        <div class="event past-event center">
                                            <h4>{{ evenement.nom }}</h4>
                                            <h5>{{ evenement.dateDebut|date('j') }} {{ mois[evenement.dateDebut|date('m')] }}
                                                {{ evenement.dateDebut|date('Y') }}</h5>
                                            <p></p>{{ evenement.description }}
                                            {% for media in evenement.medias if media.typeMedia.nom == "image-cover" %}
                                                <img class="responsive-img" src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_timeline') }}">
                                            {% endfor %}
                                            <a class="waves-effect waves-light btn white" data-toggle="modal" data-id="{{ evenement.id }}"
                                               href="#modal-{{ evenement.id }}">VOIR LES PHOTOS</a>
                                        </div>
                                    </li>

                                {% else %}
                                    <li>
                                        <div class="event future-event center">
                                            <h4>{{ evenement.nom }}</h4>
                                            <time>{{ evenement.dateDebut|date('j') }} {{ mois[evenement.dateDebut|date('m')] }}
                                                {{ evenement.dateDebut|date('Y') }} |
                                                <span>
                                        {{ evenement.heureDebut|date('H:m') }} - {{ evenement.heureFin|date('H:m') }}
                                        </span>
                                            </time>
                                            <p></p>{{ evenement.description }}
                                            {% for media in evenement.medias if media.typeMedia.nom == "image-cover" %}
                                                <img class="responsive-img" src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_timeline')  }}">
                                            {% endfor %}
                                            <a class="button-collapse waves-effect waves-light btn" data-activates="slide-out">JE M'INSCRIS</a>
                                        </div>
                                    </li>

                                {% endif %}

                            {% endfor %}
                            <li></li>
                        </ol>

                        {# On place les modals dans une boucle a part, sinon cela compromet le css de la timeline  #}
                        {% for evenement in evenements %}

                            {% if evenement.dateDebut|date("Ymd") < "now"|date("Ymd") %}
                                <!-- Modal Structure -->
                                <div id="modal-{{ evenement.id }}" class="modal">
                                    <div class="modal-content center">
                                        <h3>Photos de l'événement {{ evenement.nom }}</h3>
                                        {{ render(controller('MyOrleansBundle:Carrousel:affichageCarrousel',
                                        {'id': evenement.id })) }}
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-light grey lighten-2 btn-flat">Fermer</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}



                        <div class="arrows">
                            <button class="arrow arrow__prev disabled btn-floating btn-large light-green"
                                    disabled>
                                <i class="medium material-icons">keyboard_arrow_left</i>
                            </button>
                            <button class="arrow arrow__next btn-floating btn-large light-green">
                                <i class="medium material-icons">keyboard_arrow_right</i>
                            </button>
                        </div>
                    </section>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row  partenaires">
                <h2 class="fancy"><span>Nos partenaires</span></h2>
                <div class="col s12 l10 offset-l1">
                    <div class="row center">
                        {% for partenaire in partenaires %}
                            <div class="col s3 l2">
                                {% if partenaire.media.lien is defined  %}
                                <a href="{{ partenaire.url }}" target="_blank">
                                    <img class="img-responsive" src="{{ asset('uploads/'~partenaire.media.lien) }}"
                                         alt="{{ partenaire.nom }}">
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <!-- début formulaire de contact -->
        <form method="post" action="">
            <div id="slide-out" class="side-nav">
                <div class="userView">
                    <h3 align="center">Contactez nous !</h3>
                    <h4 align="center">{{ telephone_number }}</h4>
                    {{ form_start(form) }}
                    <div class="row">

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}
                            {{ form_errors(form.nom) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom) }}
                            {{ form_errors(form.prenom) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">email</i>
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">phone</i>
                            {{ form_label(form.telephone) }}
                            {{ form_widget(form.telephone) }}
                            {{ form_errors(form.telephone) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">my_location</i>
                            {{ form_label(form.codePostal) }}
                            {{ form_widget(form.codePostal) }}
                            {{ form_errors(form.codePostal) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">location_on</i>
                            {{ form_label(form.ville) }}
                            {{ form_widget(form.ville) }}
                            {{ form_errors(form.ville) }}
                        </div>

                        <div class="input-field col l12 m12 s12">
                            <i class="material-icons prefix">my_location</i>
                            {{ form_label(form.adresse) }}
                            {{ form_widget(form.adresse) }}
                            {{ form_errors(form.adresse) }}
                        </div>

                        <div class="input-field col l12 m12 s12">
                            <p class="newsletter">Quel est l'objet de votre message?</p>
                            <i class="material-icons prefix">info_outline</i>

                            {{ form_widget(form.sujet) }}
                            {{ form_errors(form.sujet) }}
                        </div>

                        <div class="input-field col l12 m12 s12">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                            {{ form_errors(form.message) }}
                        </div>

                        <div class="row center">
                            <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                            {{ form_widget(form.newsletter) }}
                            {{ form_errors(form.newsletter) }}
                        </div>
                    </div>

                    <div class="input-field col l12">
                        {{ form_row(form.envoyer) }}
                    </div>

                    {{ form_end(form) }}
                </div>

            </div>

        </form>

        <!--fin formulaire de contact-->



        {% block javascripts %}
            <script type="text/javascript" src="{{ asset("js/count.js") }}"></script>
            {{ parent() }}

            <script type="text/javascript" src="{{ asset("js/timelineEvent.js") }}"></script>
            <script>

                $('.button-collapse').sideNav({
                        edge: 'right', // Choose the horizontal origin
                        draggable: false, // Choose whether you can drag to open on touch screens
                        closeOnClick: true
                    }
                );

                $(function(){
                    $('.slider').slider();
                });

            </script>


        {% endblock %}
    {% endblock %}