{% extends 'MyOrleansBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}" media="screen,projection"/>
    <link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}" media="screen,projection"/>
    <link rel="stylesheet" href="{{ asset('css/residence.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
    <!--logo dde de documentation-->
    <div class="breadcrumb">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">message</i></a>
    </div>
    <!--fin logo dde de documentation-->
    <div id="content" class="content-appartement">
        <div class="container-fluid">
            <div class="row center">
                <div class="col s12 l12 m10">
                    <h2>
                        <span>{{ residence.nom }} - Ref {{ flat.reference }} - {{ flat.typeLogement.nom }}</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col offset-l1 l5 s10">
                        <a href="#" data-activates="slide-out"
                           class="button-collapse waves-effect waves-light btn"><i class="material-icons">message</i>
                            Demander la documentation</a>
                    </div>

                    <div id="editor" class="col offset-l1 l5 s10">
                        <a class="waves-effect waves-light btn" href="{{ path('flat_pdf', { 'id': 1}) }}">
                            <i id="cmd" class="material-icons left">print</i>Imprimer cette page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row center photoinfo-apt">
        <div class="col m12 l6">
            <div data-aos="fade-right">
                {% if media['image'] is defined and  media['image'] != null %}
                    <img src="{{ asset('uploads/'~media['image'].lien) }}" class="photo-apt" alt="photo-appart"/>
                {% else %}
                    <img src="{{ asset('img/Pas-dimage.jpg') }}" class="photo-apt" alt="photo-appart"/>
                {% endif %}
            </div>
        </div>
        <div data-aos="fade-left" class="col m12 l6">
            <div class="info-apt">
                <h3>{{ residence.ville.nom }}</h3>
                <h3>{{ flat.typeBien.nom }}</h3>
                <h3>{{ flat.surface }} m2</h3>
                <h3>{{ flat.prix }} €</h3>
                {% if residence.eligibilitePinel == 1 %}
                    <h3>Eligible Loi Pinel</h3>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="row center">
        <h3>Plans</h3>
        <div class="col s12">
            {% if media['image'] is defined and  media['image'] != null %}
                <img src="{{ asset('uploads/'~media['plans'].lien) }}" class="plan responsive-img" alt="plans"/>
            {% else %}
                <img src="{{ asset('img/Pas-dimage.jpg') }}" class="plan responsive-img" alt="plans"/>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 center">
                <h3>Les Détails</h3>
            </div>

            <div class="col offset-l1 l4 offset-l1 m12 center">
                <div class="rang-presta">
                    <div class="row">
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/floor.png') }}" alt="revetement">
                        </div>
                        <div class="col s11 prestation">
                            <p>Revetment Sol Salle de bains : Carrelage</p>
                            <p>Revetment Sol Chambre : Parquet</p>
                            <p>Revetment Séjour : Carrelage</p>
                        </div>
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/Parking.png') }}"
                                 alt="stationnement voiture">
                        </div>
                        <div class="col s11 prestation">
                            <p>1 Parking en sous-sol et</p>
                            <p>1 Parking exterieur</p>
                        </div>
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/surface.png') }}" alt="surfaces">
                        </div>
                        <div class="col s11 prestation">
                            <p>Surface Habitable : 38 m2</p>
                            <p>Surface Séjour : 19 m2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col offest-l1 l4 offset-l1 s12">
                <div class="rang-presta">
                    <div class="row">
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/agenda.png') }}" alt="date de livraison">
                        </div>
                        <div class="col s11 prestation">
                            <p>livraison 2ème semestre 2017</p>
                        </div>
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/boussole.png') }}" alt="exposition séjour">
                        </div>
                        <div class="col s11 prestation">
                            <p>Exposition du séjour : Nord Ouest</p>
                        </div>
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/chauffage.png') }}" alt="type de chauffage">
                        </div>
                        <div class="col s11 prestation">
                            <p>Chauffage gaz collectif</p>
                        </div>
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/menuiserie.png') }}"
                                 alt="type de menuiseries">
                        </div>
                        <div class="col s11 prestation">
                            <p>Menuiseries : PVC</p>
                        </div>
                        <div class="col s1 icon-prestation">
                            <img class="icon-apt" src="{{ asset('img/icons/room.png') }}" alt="nombre de pièces">
                        </div>
                        <div class="col s11 prestation">
                            <p>Nombre de Pièces : 2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box-notesite">
                <div class="row">
                    <ul>
                        <li class="design col m3 s6">
                            <div class="notesite" id="note_0" data-note="{{ residence.noteTransports }}"></div>
                            <br/>
                            <div class="list-legend">
                                <div class="row center-align">
                                    <ul>
                                        <li class="design col m12">transports</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="content col m3 s6">
                            <div class="notesite" id="note_3" data-note="{{ residence.noteCommerces }}"></div>
                            <br/>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">commerces</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="creativity col m3 s6">
                            <div class="notesite" id="note_1" data-note="{{ residence.noteServices }}"></div>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">services</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="usability col m3 s6">
                            <div class="notesite" id="note_2" data-note="{{ residence.noteEsthetisme }}"></div>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">esthétisme</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- pour les notes, on les rentre de BAS EN HAUT. celle du bas est donc transport, celle du haut esthétisme  -->
                    </ul>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="rapel-residence text-justify">
                        <h3>La Residence</h3>
                        <p>
                            {{ residence.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <a href="#" data-activates="slide-out"
           class="button-collapse waves-effect waves-light btn"><i class="material-icons">message</i>
            Demander la documentation</a>
    </div>

    <!-- début formulaire de contact -->
    <form method="post" action="">
        <div id="slide-out" class="side-nav">
            <div class="userView">
                <h3 align="center">Contactez nous !</h3>
                <h4 align="center">{{ telephone_number }}</h4>
                {{ form_start(form) }}
                <div class="row">

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">phone</i>
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.codePostal) }}
                        {{ form_widget(form.codePostal) }}
                        {{ form_errors(form.codePostal) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">location_on</i>
                        {{ form_label(form.ville) }}
                        {{ form_widget(form.ville) }}
                        {{ form_errors(form.ville) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        {{ form_errors(form.adresse) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <p class="newsletter">Quel est l'objet de votre message?</p>
                        <i class="material-icons prefix">info_outline</i>

                        {{ form_widget(form.sujet) }}
                        {{ form_errors(form.sujet) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>

                    <div class="row center">
                        <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                        {{ form_widget(form.newsletter) }}
                        {{ form_errors(form.newsletter) }}
                    </div>
                </div>

                <div class="input-field col l12">
                    {{ form_row(form.envoyer) }}
                </div>

                {{ form_end(form) }}
            </div>

        </div>

    </form>

    <!--fin formulaire de contact-->

    <!--Partage reseaux sociaux-->
    <div class="container">
        <div class="row center">
            <p class="partage">Vous avez aimé cet appartement? N'hésitez pas à le partager à vos amis: </p>
            <div class="col l4 m4 s12">
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?text=Hello%20world"
                   data-size="large">
                    Tweet</a>
            </div>

            <div class="col l4 m4 s12">

            </div>
            <div class="col l4 m4 s12">
                <a class="waves-effect waves-light btn" href="mailto:?to= &subject=Appartement%20my%20Orleans">Envoyez à
                    un ami par mail </a>

            </div>
        </div>
    </div>
    <!--fin partage reseaux sociaux-->



    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/aos.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/socialmedia.js') }}"></script>
        <script>
            AOS.init();
            //formulaire de contact
            $('.button-collapse').sideNav({
                    edge: 'right', // Choose the horizontal origin
                    draggable: false, // Choose whether you can drag to open on touch screens
                    closeOnClick: true
                }
            );
        </script>
        <script src="{{ asset('js/testcompteur.js') }}"></script>
        <script src="{{ asset('js/jquery.circliful.min.js') }}"></script>

    {% endblock %}


{% endblock %}
