{{ form_start(completeSearchSmallScreen) }}
    <ul class="collapsible" data-collapsible="expandable">
        <li>
            <div class="collapsible-header active"><i class="material-icons">person_pin</i>Votre recherche</div>
            <div class="collapsible-body">
                <span>
                    <div class="row no-margin-top no-margin-bottom">
                        <div class="input-field col s12 m6">
                            {{ form_widget(completeSearchSmallScreen.ville) }}
                            {{ form_errors(completeSearchSmallScreen.ville) }}
                        </div>
                        <div class="input-field col s12 m6">
                            {{ form_widget(completeSearchSmallScreen.type) }}
                            {{ form_errors(completeSearchSmallScreen.type) }}
                        </div>
                    </div>
                    <div class="row no-margin-top no-margin-bottom">
                        <div class="input-field col s12 m6 no-padding-left">
                            {{ form_widget(completeSearchSmallScreen.surfaceMin) }}
                            {{ form_errors(completeSearchSmallScreen.surfaceMin) }}
                        </div>
                        <div class="input-field col s12 m6 no-padding-right">
                            {{ form_widget(completeSearchSmallScreen.surfaceMax) }}
                            {{ form_errors(completeSearchSmallScreen.surfaceMax) }}
                        </div>
                    </div>
                    <div class="row no-margin-top no-margin-bottom">
                        <div class="col s12 m6">
                            {{ form_widget(completeSearchSmallScreen.objectif) }}
                            {{ form_errors(completeSearchSmallScreen.objectif) }}
                        </div>
                        <div class="col s6 m3 no-padding-left">
                            {{ form_widget(completeSearchSmallScreen.budgetMin) }}
                            {{ form_errors(completeSearchSmallScreen.budgetMin) }}
                        </div>
                        <div class="col s6 m3 no-padding-right">
                            {{ form_widget(completeSearchSmallScreen.budgetMax) }}
                            {{ form_errors(completeSearchSmallScreen.budgetMax) }}
                        </div>
                    </div>
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>+ de critères</div>
            <div class="collapsible-body">
                <span>
                    <div class="row no-margin-top">
                        <div class="col s12 m6">
                            {{ form_widget(completeSearchSmallScreen.nbChambres) }}
                            {{ form_errors(completeSearchSmallScreen.nbChambres) }}
                        </div>
                        <div class="col s12 m6">
                            {{ form_widget(completeSearchSmallScreen.quartier) }}
                            {{ form_errors(completeSearchSmallScreen.quartier) }}
                        </div>
                    </div>
                </span>
            </div>
        </li>
    </ul>
    <div class="row center no-margin-top btn-recherche-nosbiens">
        {{ form_widget(completeSearchSmallScreen.submit) }}
    </div>
{{ form_end(completeSearchSmallScreen) }}