{{ form_start(completeSearch) }}
    <div class="row no-margin-bottom">
        <div class="col l3">
            <h2 class="titre-recherche">Localisation</h2>
            <div class="row no-margin-bottom">
                <div class="col s6">
                    {{ form_widget(completeSearch.ville) }}
                    {{ form_errors(completeSearch.ville) }}
                </div>
                <div class="col s6">
                    {{ form_widget(completeSearch.quartier) }}
                    {{ form_errors(completeSearch.quartier) }}
                </div>
            </div>
        </div>
        <div class="col l3">
            <div class="row no-margin-bottom">
                <h2 class="titre-recherche">Votre bien</h2>
                <div class="row no-margin-bottom">
                    <div class="col s6">
                        {{ form_widget(completeSearch.type) }}
                        {{ form_errors(completeSearch.type) }}
                    </div>
                    <div class="col s6">
                        {{ form_widget(completeSearch.nbChambres) }}
                        {{ form_errors(completeSearch.nbChambres) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3">
            <div class="row no-margin-bottom">
                <h2 class="white-text titre-recherche">Votre bien</h2>
                <div class="col s3">
                    {{ form_widget(completeSearch.surfaceMin) }}
                    {{ form_errors(completeSearch.surfaceMin) }}
                </div>
                <div class="col s3">
                    {{ form_widget(completeSearch.surfaceMax) }}
                    {{ form_errors(completeSearch.surfaceMax) }}
                </div>
                <div class="col s3">
                    {{ form_widget(completeSearch.budgetMin) }}
                    {{ form_errors(completeSearch.budgetMin) }}
                </div>
                <div class="col s3">
                    {{ form_widget(completeSearch.budgetMax) }}
                    {{ form_errors(completeSearch.budgetMax) }}
                </div>
            </div>
        </div>
        <div class="col l3">
            <div class="row no-margin-bottom">
                <h2 class="titre-recherche">Votre objectif</h2>
                <div class="row no-margin-bottom">
                    <div class="col s6">
                        {{ form_widget(completeSearch.objectif) }}
                        {{ form_errors(completeSearch.objectif) }}
                    </div>
                    <div class="col s6 center">
                        {{ form_widget(completeSearch.submit) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(completeSearch) }}