{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block content %}
<!-- début formulaire de contact -->
<form method="post" action="">
    <div id="slide-out" class="side-nav">
        <div class="userView">
            <h3 align="center">Contactez nous !</h3>
            <h4 align="center">{{ telephone_number }}</h4>
            {{ form_start(form) }}
            <div class="row">

                <div class="input-field col l6 m6 s12">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom) }}
                    {{ form_errors(form.nom) }}
                </div>

                <div class="input-field col l6 m6 s12">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                    {{ form_errors(form.prenom) }}
                </div>

                <div class="input-field col l6 m6 s12">
                    <i class="material-icons prefix">email</i>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="input-field col l6 m6 s12">
                    <i class="material-icons prefix">phone</i>
                    {{ form_label(form.telephone) }}
                    {{ form_widget(form.telephone) }}
                    {{ form_errors(form.telephone) }}
                </div>

                <div class="input-field col l6 m6 s12">
                    <i class="material-icons prefix">my_location</i>
                    {{ form_label(form.codePostal) }}
                    {{ form_widget(form.codePostal) }}
                    {{ form_errors(form.codePostal) }}
                </div>

                <div class="input-field col l6 m6 s12">
                    <i class="material-icons prefix">location_on</i>
                    {{ form_label(form.ville) }}
                    {{ form_widget(form.ville) }}
                    {{ form_errors(form.ville) }}
                </div>

                <div class="input-field col l12 m12 s12">
                    <i class="material-icons prefix">my_location</i>
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse) }}
                    {{ form_errors(form.adresse) }}
                </div>

                <div class="input-field col l12 m12 s12">
                    <p class="newsletter">Quel est l'objet de votre message?</p>
                    <i class="material-icons prefix">info_outline</i>

                    {{ form_widget(form.sujet) }}
                    {{ form_errors(form.sujet) }}
                </div>

                <div class="input-field col l12 m12 s12">
                    <i class="material-icons prefix">mode_edit</i>
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                    {{ form_errors(form.message) }}
                </div>

                <div class="row center">
                    <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                    {{ form_widget(form.newsletter) }}
                    {{ form_errors(form.newsletter) }}
                </div>
            </div>

            <div class="input-field col l12">
                {{ form_row(form.envoyer) }}
            </div>

            {{ form_end(form) }}
        </div>

    </div>

</form>
{% endblock %}