<div class="card mosaic-container">
    <div class="card-image">
        {% for media in residence.medias if media.typeMedia.nom == 'image-cover' %}
            <img src="{{ asset('uploads/'~media.lien) }}">
        {% endfor %}
    </div>
    <div class="card-content">
        <div class="row grille-infos">
            <div class="col s8 grille-gauche">
                <div class="row nom-residence">
                    <h4>{{ residence.nom }}</h4>
                    <p>à {{ residence.ville.nom }}</p>
                </div>
                <div class="row annee-nbPiece">
                    <div class="col s6 annee-residence">
                        <h4>Année</h4>
                        <p>{{ residence.dateLivraison }}</p>
                    </div>
                    <div class="col s6">
                        <h4>Nombre de pièces</h4>
                        <p>Du {{ typeMin }} au {{ typeMax }}</p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <h4>Prix</h4>
                {% if residence.affichagePrix == 1 %}
                    <p>A partir de {{ prixMin }}€</p>
                {% else %}
                    <p>Nous contacter</p>
                {% endif %}
                <br/>
                <h4>Disponibilité</h4>
                <p>{{ flatsDispo }} logement(s)</p>
            </div>
        </div>
    </div>
    <div class="card-action center">
        <a href="{{ path('residences', { 'id': residence.id }) }}">Découvrir la résidence</a>
    </div>
</div>