{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('owlcarousel/assets/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('owlcarousel/assets/owl.carousel.css') }}">
    <!-- Default Theme -->
    <link rel="stylesheet" href="{{ asset('owlcarousel/assets/owl.theme.default.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}" media="screen,projection"/>
{% endblock %}

{% block body %}



    <div id="GrandeIntro">
        <div class="row center logoIntro">
            <div class="col s12 ">
                <img class="logo" src="{{ asset('img/logo_myorleans.png') }}" alt="logo de l'entreprise"/>
            </div>
        </div>
        <div class="row center">
            <div class="col s6 l5 offset-l1 pictoParcours">
                <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
            <div class="col s6 l5 pictoParcours">
                <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="siteWrapper">
    <header>
        <div id="headerTop"></div>
        <div class="navbar" id="Grandenavigation">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ path("home") }}" class="brand-logo">
                        <img class="logo" src="{{ asset('img/logo_myorleans.png') }}" alt="logo de l'entreprise"/>
                    </a>
                    <a href="#" data-activates="menu-dropdown-mobile" class="dropdown-button hide-on-large-only"><i
                                class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ path("nosbiens") }}">Nos biens</a></li>
                        <li><a href="{{ path("nosservices") }}">Nos services</a></li>
                        <li><a href="{{ path("parcoursimmo") }}">Parcours immobiliers</a></li>
                        <li><a href="{{ path("agence") }}">Notre agence</a></li>
                        <li><a href="{{ path("immopratique") }}">L'immobilier pratique</a></li>
                        <li><a href="{{ path("homeblog") }}">Blog</a></li>
                    </ul>
                    <ul class="dropdown-content hide-on-large-only" id="menu-dropdown-mobile">
                        <li><a href="{{ path("nosbiens") }}">Nos biens</a></li>
                        <li><a href="{{ path("nosservices") }}">Nos services</a></li>
                        <li><a href="{{ path("parcoursimmo") }}">Parcours immobiliers</a></li>
                        <li><a href="{{ path("agence") }}">Notre agence</a></li>
                        <li><a href="{{ path("immopratique") }}">L'immobilier pratique</a></li>
                        <li><a href="{{ path("homeblog") }}">Blog</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}

        <section id="content">
            <div>
                <div class="row">
                    <div class="col s12 l10 offset-l1 formSearch z-depth-3">
                        <div class="row">
                            <h1>
                                <span>Recherchez votre bien immobilier neuf</span>
                            </h1>
                        </div>
                        {{ form_start(simpleSearch) }}
                        <div class="row">
                            <div class="input-field col s4 offset-s1">
                                {{ form_label(simpleSearch.ville, 'Localisation') }}
                                {{ form_widget(simpleSearch.ville) }}
                                {{ form_errors(simpleSearch.ville) }}
                            </div>

                            <div class="input-field col s4 offset-s1">
                                {{ form_widget(simpleSearch.type) }}
                                {{ form_errors(simpleSearch.type) }}
                            </div>
                        </div>
                        <div class="row center">

                            <div class="formButton col s12 m12 l4 offset-l1">
                                {{ form_widget(simpleSearch.investBtn) }}

                            </div>

                            <div class="formButton col s12 m12 l6">
                                {{ form_widget(simpleSearch.resPrincipaleBtn) }}
                            </div>
                        </div>


                        {{ form_end(simpleSearch) }}
                        {#                                <input type="text" id="autocomplete-input" class="autocomplete" name="localisation">
                                                        <label for="autocomplete-input">Localisation</label>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <select>
                                                            <option value="" disabled selected>Sélectionnez le type du bien</option>
                                                            <option value="1">Maison</option>
                                                            <option value="2">Appartement</option>
                                                        </select>
                                                        <label>Type</label>#}

                    </div>
                </div>
                {#                        <div class="row center">
                                            <div class="formButton col s12 m12 l4 offset-l1">
                                                <a class="waves-effect waves-light btn-large light-green">Je souhaite investir</a>
                                            </div>
                                            <div class="formButton col s12 m12 l6">
                                                <a class="waves-effect waves-light btn-large light-green">Je recherche une résidence
                                                    Principale</a>
                                            </div>
                                        </div>#}
            </div>
        </section>
        </div>
        <div class="container-fluid">
            <div class="section white">
                <div class="row container">

                    <div class="col s12 l12 liste-biens">
                        <h2>
                            <span>Nos biens phares</span>
                        </h2>
                        <div class="row">
                            <div class="col s12 l6">
                                <div class="card mosaic-container">
                                    <div class="card-image">
                                        {% for media in residenceFav[0].medias if media.typeMedia.nom == 'image' %}
                                            <img src="{{ asset('img/'~media.lien) }}">
                                        {% endfor %}
                                    </div>
                                    <div class="card-content">
                                        <div class="row grille-infos">
                                            <div class="col s8 grille-gauche">
                                                <div class="row nom-residence">
                                                    <h4>{{ residenceFav[0].nom }}</h4>
                                                    <p>à {{ residenceFav[0].ville }}</p>
                                                </div>
                                                <div class="row annee-nbPiece">
                                                    <div class="col s6 annee-residence">
                                                        <h4>Année</h4>
                                                        <p>{{ residenceFav[0].dateLivraison }}</p>
                                                    </div>
                                                    <div class="col s6">
                                                        <h4>Nombre de pièces</h4>
                                                        <p>Du T1 au T5</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <h4>Prix</h4>
                                                <p>A partir de 90 000€</p>
                                                <br/>
                                                <h4>Disponibilité</h4>
                                                <p>{{ residenceFav[0].nbTotalLogements }} logements</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action center">
                                        <a href="#">Découvrir la résidence</a>

                                    </div>
                                </div>
                            </div>

                            <div class="col s12 l6">
                                {# <div class="col s12 l12">
                                     <div class="card">
                                         <div class="card-image">
                                           #}{#  {% for medium in residenceAll.media if medium.type == 'image' %}
                                                 <img src="{{ asset('img/'~medium.lien) }}" class="responsive-img">
                                                 <span class="card-title">Le Flores</span>
                                             {% endfor %}#}{#
                                         </div>
                                     </div>
                                 </div>#}
                                {% for resTwoFav in residenceTwoFav %}
                                    <div class="col s12 l12">
                                        <div class="card">
                                            <div class="card-image">
                                                {% for media in resTwoFav.medias if media.typeMedia.nom == 'image' %}
                                                    <img src="{{ asset('img/'~media.lien) }}" class="responsive-img"
                                                         alt="{{ resTwoFav.nom }}">
                                                {% endfor %}
                                                <span class="card-title">{{ resTwoFav.nom }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row parallax-container">
                <div class="parallax parallax-testimonial">
                    <img src="{{ asset('img/apt-neuf.jpg') }}">
                </div>
                <div class="container">
                    <div class="row">
                        <h3 class="h3-testimonial center-align"> Ce que les clients pensent de nous</h3>
                        <div class="col m8 offset-m2 col s12">
                            <div class="owl-carousel owl-theme owl-responsive-1000 owl-loaded">

                                <div class="item cloned">
                                    <div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure>
                                                    <img src="{{ asset('img/equipe/Fabien.jpeg') }}" alt=""
                                                         class="circle responsive-img">
                                                </figure>
                                                <h4>Fabien
                                                    <small>30 Mai 2017</small>
                                                </h4>
                                            </div>
                                            <div class="comment">
                                                <p>"Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo
                                                    dictas
                                                    elaboraret
                                                    sed,
                                                    mel cu unum nostrud. No nam indoctum accommodare, vix ei discere
                                                    civibus
                                                    philosophia.
                                                    Vis ea dicant diceret ocurreret."</p>
                                            </div>
                                        </div><!-- End box_overlay -->
                                    </div>
                                </div>
                                <div class="item cloned">
                                    <div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure>
                                                    <img src="{{ asset('img/equipe/Albane.jpeg') }}" alt=""
                                                         class="circle responsive-img">
                                                </figure>
                                                <h4>Albane
                                                    <small>30 Mai 2017</small>
                                                </h4>
                                            </div>
                                            <div class="comment">
                                                <p>"Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo
                                                    dictas
                                                    elaboraret
                                                    sed,
                                                    mel cu unum nostrud. No nam indoctum accommodare, vix ei discere
                                                    civibus
                                                    philosophia.
                                                    Vis ea dicant diceret ocurreret."</p>
                                            </div>
                                        </div><!-- End box_overlay -->
                                    </div>
                                </div>
                                <div class="item cloned">
                                    <div>
                                        <div class="box_overlay">
                                            <div class="pic">
                                                <figure>
                                                    <img src="{{ asset('img/equipe/Emilie.jpeg') }}" alt=""
                                                         class="circle">
                                                </figure>
                                                <h4>Emilie
                                                    <small>30 Mai 2017</small>
                                                </h4>
                                            </div>
                                            <div class="comment">
                                                <p>"Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo
                                                    dictas
                                                    elaboraret
                                                    sed,
                                                    mel cu unum nostrud. No nam indoctum accommodare, vix ei discere
                                                    civibus
                                                    philosophia.
                                                    Vis ea dicant diceret ocurreret."</p>
                                            </div>
                                        </div><!-- End box_overlay -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row carouselAgence">
                <div class="col s12 m10 l10 offset-l1">
                    <h3>"Nous sommes passionnés par l’immobilier et par les relations avec nos partenaires et nos
                        clients.
                        Dynamiques, réactifs et toujours à l’écoute, nous mettons tout en oeuvre pour apporter les
                        meilleurs services et solutions, en adéquation avec vos attentes et vos besoins. </h3>
                    <div class="carousel">
                        {% for collaborateur in collaborateurs %}
                            <a class="carousel-item" href="#one!"><img
                                        src="{{ asset('img/equipe/'~collaborateur.media.lien) }}">
                                <p>{{ collaborateur.prenom }} {{ collaborateur.nom }}
                                    <br><span>{{ collaborateur.fonction }}</span></p>
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <!-- Modal Trigger -->
                <div class="row">
                    <div class="col s12 center">
                        <a class="modal-trigger waves-effect waves-light btn white z-depth-5 buttonNewsletter"
                           href="#modal1">
                            <i class="material-icons">mail_outline</i> | Abonnez-vous à notre newsletter
                        </a>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content black-text">
                        <h3> Inscrivez-vous !</h3>

                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="first_name" type="text" class="validate">
                                        <label for="first_name">Nom </label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name">Prénom</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field inline">
                                            <input id="email" type="email" class="validate">
                                            <label for="email" data-error="wrong" data-success="right">Email</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Je
                            m'inscris</a>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col s12 l6">
                    <h3>L'actualité</h3>
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            {% for media in actu[0].medias if media.typeMedia.nom == 'image' %}
                                <img class="activator" src="{{ asset('img/'~media.lien) }}">
                            {% endfor %}
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ actu[0].titre }}<i
                                    class="material-icons right">add</i></span>
                            <p>{% if actu[0].date %}{{ actu[0].date|date('j-m-Y') }}{% endif %}</p>
                            <p class="truncate">{{ actu[0].texte }}</p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ actu[0].titre }}<i
                                    class="material-icons right">close</i></span>
                            <p>{{ actu[0].texte }}</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 l6">
                    <h3>L'événement</h3>
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ asset('img/'~event[0].media.lien) }}">
                        </div>
                        <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ event[0].nom }}<i
                                    class="material-icons right">add</i></span>
                            <p>{% if event[0].dateDebut %}{{ event[0].dateDebut|date('j-m-Y') }}{% endif %}</p>
                            <p class="truncate">{{ event[0].description }}</p>
                        </div>
                        <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ event[0].nom }}<i
                                    class="material-icons right">close</i></span>
                            <p>{{ event[0].description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


    <div class="pre-footer">
        <img class="skyline" src="{{ asset('img/toit_Orleans_vFinal.png') }}" alt="toits d'Orléans"/>
    </div>

    <footer class="page-footer">
        <div class="container">
            <p id="back-top"><a href="#top"><img src="{{ asset('img/backTop.png') }}"></a></p>
            <div class="row">
                <div class="col l6 s12 footer-left-side">
                    <h5 class="white-text">Suivez-nous</h5>
                    <div class="row">
                        <div class="col s1">
                            <a href="https://www.facebook.com/myorleans/?ref=page_internal" target="_blank">
                                <div class="social-btn">
                                    <i class="fa fa-facebook fa-3x fb-social" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col offset-s1 s1">
                            <a href="https://twitter.com/myorleans" target="_blank">
                                <div class="social-btn">
                                    <i class="fa fa-twitter fa-3x icon-social" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col offset-s1 s1">
                            <a href="https://www.youtube.com/channel/UCFATFRMEwROsER_aiGX2OfQ" target="_blank">
                                <div class="social-btn">
                                    <i class="fa fa-youtube fa-3x icon-social" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col l5 offset-l1 s12 footer-right-side">
                    <h5 class="white-text">Contactez-nous</h5>
                    <p class="p-footer-phone no-margin-bottom"><span><i
                                    class="small material-icons align-icon">phone</i></span><a href="tel:+33238759447">02
                            38 75 94
                            47</a></p>
                    <p class="p-footer"><span><i class="small material-icons align-icon">location_on</i></span>13,
                        rue Bannier 45000 Orléans</p>
                    <p class="p-footer email"><span><i class="small material-icons align-icon">email</i></span><a
                                href="mailto:agence@my-orleans.com">agence@my-orleans.com</a></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row row-ml">
                    <div class="col s2">
                        <p>© 2017 My-Orléans</p>
                    </div>
                    <div class="col s8 center">
                        <p><a class="grey-text text-lighten-4 ml-padding-right" href="#!">Mentions légales</a>
                            <a class="grey-text text-lighten-4" href="#!">Frais et honoraires de gestion</a></p>
                    </div>
                    <div class="col s2">
                        <p><a class="grey-text text-lighten-4" href="#!">Wild Code School</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset("js/carousel-testimonial.js") }}"></script>
        <script type="text/javascript" src="{{ asset('owlcarousel/owl.carousel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/stickynav.js') }}"></script>
        <script>
            $(document).ready(function () {

                // hide #back-top first
                $("#back-top").hide();

                // fade in #back-top
                $(function () {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > 100) {
                            $('#back-top').fadeIn();
                        } else {
                            $('#back-top').fadeOut();
                        }
                    });

                    // scroll body to 0px on click
                    $('#back-top a').click(function () {
                        $('body,html').animate({
                            scrollTop: 0
                        }, 800);
                        return false;
                    });
                });


                $('input.autocomplete').autocomplete({
                    data: {
                        {% for ville in villes %}
                        "{{ ville }}": null,
                        {% endfor %}
                    },
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                    onAutocomplete: function (val) {
                        // Callback function when value is autcompleted.
                    },
                    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.

                });

            });
        </script>

    {% endblock %}
