{% extends "MyOrleansBundle::layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}"  media="screen,projection"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% endblock stylesheets %}

{% block navbar %}
    <div class="navbar-nosbiens">
        {{ parent() }}
    </div>
{% endblock navbar %}

{% block content %}
    <div class="page-nosbiens body-container-margin">



        <div class="moteur-recherche hide-on-med-and-down">
            {{ form_start(completeSearch) }}
            <div class="row no-margin-bottom">
                <div class="col s12 m6 l3">
                    <h2 class="titre-recherche">Localisation</h2>
                    <div class="row no-margin-bottom">
                        <div class="col s6">
                            {{ form_label(completeSearch.ville, 'Ville') }}
                            {{ form_widget(completeSearch.ville) }}
                            {{ form_errors(completeSearch.ville) }}
                        </div>
                        <div class="col s6">
                            {{ form_label(completeSearch.quartier, 'Quartier') }}
                            {{ form_widget(completeSearch.quartier) }}
                            {{ form_errors(completeSearch.quartier) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="row no-margin-bottom">
                        <h2 class="titre-recherche">Votre bien</h2>
                        <div class="row no-margin-bottom">
                            <div class="col s6">
                                {{ form_widget(completeSearch.type) }}
                                {{ form_errors(completeSearch.type) }}
                            </div>
                            <div class="col s6">
                                {{ form_widget(completeSearch.nbChambres) }}
                                {{ form_errors(completeSearch.nbChambres) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="row no-margin-bottom">
                        <h2 class="white-text titre-recherche">Votre bien</h2>
                        <div class="col s3">
                            {{ form_widget(completeSearch.surfaceMin) }}
                            {{ form_errors(completeSearch.surfaceMin) }}
                        </div>
                        <div class="col s3">
                            {{ form_widget(completeSearch.surfaceMax) }}
                            {{ form_errors(completeSearch.surfaceMax) }}
                        </div>
                        <div class="col s3">
                            {{ form_widget(completeSearch.budgetMin) }}
                            {{ form_errors(completeSearch.budgetMin) }}
                        </div>
                        <div class="col s3">
                            {{ form_widget(completeSearch.budgetMax) }}
                            {{ form_errors(completeSearch.budgetMax) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="row no-margin-bottom">
                        <h2 class="titre-recherche">Investissement</h2>
                        <div class="row no-margin-bottom">
                            <div class="col s6">
                                {{ form_widget(completeSearch.objectif) }}
                                {{ form_errors(completeSearch.objectif) }}
                            </div>
                            <div class="col s6 center">
                                {{ form_widget(completeSearch.submit) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#------------ Remplacement de la barre de recherche par un accordéon sur ecran a partir de 992px -------------#}

        <div class="moteur-recherche-small-screen hide-on-large-only">
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">person_pin</i>Votre recherche</div>
                    <div class="collapsible-body">
                        <span>
                            <div class="row no-margin-top no-margin-bottom">
                                <div class="input-field col s12 m6">
                                    {{ form_label(completeSearch.ville, 'Ville') }}
                                    {{ form_widget(completeSearch.ville) }}
                                    {{ form_errors(completeSearch.ville) }}
                                </div>
                                <div class="input-field col s12 m6">
                                    {{ form_widget(completeSearch.type) }}
                                    {{ form_errors(completeSearch.type) }}
                                </div>
                            </div>
                            <div class="row no-margin-top no-margin-bottom">
                                <div class="input-field col s12 m6 no-padding-left">
                                    {{ form_widget(completeSearch.surfaceMin) }}
                                    {{ form_errors(completeSearch.surfaceMin) }}
                                </div>
                                <div class="input-field col s12 m6 no-padding-right">
                                    {{ form_widget(completeSearch.surfaceMax) }}
                                    {{ form_errors(completeSearch.surfaceMax) }}
                                </div>
                            </div>
                            <div class="row no-margin-top no-margin-bottom">
                                <div class="col s12 m6">
                                    {{ form_widget(completeSearch.objectif) }}
                                    {{ form_errors(completeSearch.objectif) }}
                                </div>
                                <div class="col s6 m3 no-padding-left">
                                    {{ form_widget(completeSearch.budgetMin) }}
                                    {{ form_errors(completeSearch.budgetMin) }}
                                </div>
                                <div class="col s6 m3 no-padding-right">
                                    {{ form_widget(completeSearch.budgetMax) }}
                                    {{ form_errors(completeSearch.budgetMax) }}
                                </div>
                            </div>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>+ de critères</div>
                    <div class="collapsible-body">
                        <span>
                            <div class="row no-margin-top">
                                <div class="col s12 m6">
                                    {{ form_widget(completeSearch.nbChambres) }}
                                    {{ form_errors(completeSearch.nbChambres) }}
                                </div>
                                <div class="col s12 m6">
                                    {{ form_label(completeSearch.quartier, 'Quartier') }}
                                    {{ form_widget(completeSearch.quartier) }}
                                    {{ form_errors(completeSearch.quartier) }}
                                </div>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>
            <div class="row center no-margin-top btn-recherche-nosbiens">
                {{ form_widget(completeSearch.submit) }}
            </div>
        </div>

        <div class="row carte-liste-articles">

            <div class="col s12 l7 xl8 liste-biens">

                <div class="row center no-margin-bottom">
{#                    {% set nb_res = residences|length %}
                    {% if  %}#}
                    <h1 class="section-title">{{ message }}</h1>
                </div>

                <div class="row">

                    {% for residence in residences %}

                        {{ render(controller('MyOrleansBundle:VignetteResidence:affichageResidence', {'id': residence.id })) }}

                    {% endfor %}

                </div>

                <div class="row titre-contenu-associe">
                    {% if objectif == 'investir' %}
                    <h2><span>Investissez en toute sérénité</span></h2>
                    {% elseif objectif == 'Residence Principale' %}
                    <h2><span>Devenez propriétaire</span></h2>
                    {% endif %}
                </div>

                <div class="row contenu-associe">
                    <div class="col s12 offset-m1 m10">
                        <div class="card large">
                            <div class="card-image">
                                <img src="{{ asset('img/illustration_services.jpg') | imagine_filter('thumb_article_site') }}">
                            </div>
                            <div class="card-content">
                                {% if objectif == 'investir' %}
                                    <h4>Nos services de Location et Gestion locative</h4>
                                    <p>Not the same lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
                                {% elseif objectif == 'Residence Principale' %}
                                    <h4>Les parcours immobiliers</h4>
                                    <p>Not the same lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                        lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
                                {% endif %}
                            </div>
                            <div class="card-action center">
                                {% if objectif == 'investir' %}
                                    <a href="{{ path("nos_services") }}">Découvrez les services</a>
                                {% elseif objectif == 'Residence Principale' %}
                                    <a href="{{ path("parcoursimmo") }}">Découvrez les parcours</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Affichage d'un lien vers les packs dans le parcours Investisseur #}
                {% if objectif == 'investir' %}
                    <div class="row contenu-associe">
                        <div class="col s12 offset-m1 m10">
                            <div class="card large">
                                <div class="card-image">
                                    <img src="{{ asset('img/pack6.jpg') | imagine_filter('thumb_article_site') }}">
                                </div>
                                <div class="card-content">
                                    <h4>Pack Sérénité</h4>
                                    <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                        lorem ipsum lorem ipsum lorem ipsum.</p>
                                </div>
                                <div class="card-action center">
                                    <a href="{{ path('nos_services') }}">Découvrez les autres packs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif objectif == 'Residence Principale' %}

                {% endif %}
                {# Fin affichage packs #}

                <div class="row contenu-associe">
                    <div class="col s12 offset-m1 m10">
                        <div class="card large">
                            <div class="card-image">
                                {% for media in article.medias if media.typeMedia.nom == 'image' %}
                                    <img src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_article_site') }}">
                                {% endfor %}
                            </div>
                            <div class="card-content">
                                <h4>{{ article.titre }}</h4>
                                <p>{{ article.texte | truncate(100, true, '...') }}</p>
                            </div>
                            <div class="card-action center">
                                <a href="{{ path('blog-article', { 'id': article.id }) }}">Lire l'article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col offset-l7 l6 offset-xl8 xl5 hide-on-small-only carte">
                <div id="map"></div>
                    <script>

                        function initMap() {

                            var count = 0;
                            var locations = [
                                {% for residence in residences %}
                                    ['{{ residence.nom }}', {{ residence.latitude }}, {{ residence.longitude }}],
                                {% endfor %}

                            ];

                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 12,
                                center: new google.maps.LatLng(47.902964, 1.909251),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            });

                            var infowindow = new google.maps.InfoWindow();

                            var marker, i;

                            for (i = 0; i < locations.length; i++) {
                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                    map: map
                                });

                                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                    return function() {
                                        infowindow.setContent(locations[i][0]);
                                        infowindow.open(map, marker);
                                    }
                                })(marker, i));
                            }
                        }

                    </script>

                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaGGAaNFdi508AC8JBUs9rhjAOPNnyBU&callback=initMap">
                    </script>

                </div>
            </div>
        </div>


{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function () {

            $('#complete_search_quartier').autocomplete({
                data: {
                {% for quartier in quartiers %}
                    "{{ quartier.nom }}" : null,
                {% endfor %}
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                // Callback function when value is autcompleted.
                },
                minLength: 1 // The minimum length of the input for the autocomplete to start. Default: 1.

            });

            $('#complete_search_ville').autocomplete({
                data: {
                {% for ville in villes %}
                    "{{ ville.nom }}" : null,
                {% endfor %}
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                // Callback function when value is autcompleted.
                },
                minLength: 1 // The minimum length of the input for the autocomplete to start. Default: 1.

                });
        });

    </script>

{% endblock %}
