{% extends "MyOrleansBundle::layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}"  media="screen,projection"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% endblock stylesheets %}

{% block navbar %}
    <div class="navbar-nosbiens">
        {{ parent() }}
    </div>
{% endblock navbar %}

{% block content %}
    <div class="page-nosbiens body-container-margin">

        <div class="moteur-recherche hide-on-med-and-down">
            <div class="row no-margin-bottom">
                <div class="col s12 m6 l3">
                    <h2 class="titre-recherche">Localisation</h2>
                    <div class="row no-margin-bottom">
                        <div class="col s6">
                            <input placeholder="Ville" id="champ-ville" type="text" class="validate">
                        </div>
                        <div class="col s6">
                            <input placeholder="Quartier" id="champ-quartier" type="text" class="validate">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="row no-margin-bottom">
                        <h2 class="titre-recherche">Votre bien</h2>
                        <div class="row no-margin-bottom">
                            <div class="col s6">
                                <select class="typeBien">
                                    <option value="" disabled selected>Type</option>
                                    <option id="T1" value="1">T1</option>
                                    <option id="T2" value="2">T2</option>
                                    <option id="T3" value="3">T3</option>
                                    <option id="T4" value="4">T4 et +</option>
                                </select>
                            </div>
                            <div class="col s3">
                                <input placeholder="Surface min" id="champ-surface-min" type="text" class="validate">
                            </div>
                            <div class="col s3">
                                <input placeholder="Surface max" id="champ-surface-max" type="text" class="validate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="row no-margin-bottom">
                        <h2 class="white-text titre-recherche">Votre bien</h2>
                        <div class="col s6">
                            <select class="choixChb">
                                <option value="" disabled selected>Nb. Chambre(s)</option>
                                <option id="chb1" value="1">1 champbre</option>
                                <option id="chb2" value="2">2 chambres</option>
                                <option id="chb3" value="3">3 chambres</option>
                                <option id="chb4" value="4">4 chambres et plus</option>
                            </select>
                        </div>
                        <div class="col s6">
                            <select class="choixPiece">
                                <option value="" disabled selected>Nb. Pièce(s)</option>
                                <option id="piece1" value="1">1 pièce</option>
                                <option id="piece2" value="2">2 pièces</option>
                                <option id="piece3" value="3">3 pièces</option>
                                <option id="piece4" value="4">4 pièces</option>
                                <option id="piece5" value="5">5 pièces et plus</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="row no-margin-bottom">
                        <h2 class="titre-recherche">Investissement</h2>
                        <div class="row no-margin-bottom">
                            <div class="col s6">
                                <select class="objectif">
                                    <option value="" disabled selected>Objectif</option>
                                    <option id="invest" value="1">Investir</option>
                                    <option id="ResPrinc" value="2">Acheter en résidence principale</option>
                                </select>
                            </div>
                            <div class="col s3">
                                <input placeholder="Budget min" id="champ-budget-min" type="text" class="validate">
                            </div>
                            <div class="col s3">
                                <input placeholder="Budget max" id="champ-budget-max" type="text" class="validate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" value="Rechercher">Rechercher</button>
            </div>
        </div>

        {#------------ Remplacement de la barre de recherche par un accordéon sur ecran a partir de 992px -------------#}

        <div class="moteur-recherche-small-screen hide-on-large-only">
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header active"><i class="material-icons">person_pin</i>Votre recherche</div>
                    <div class="collapsible-body">
                        <span>
                            <div class="row no-margin-top no-margin-bottom">
                                <div class="col s12 m6">
                                    <input placeholder="Ville" id="champ-ville" type="text" class="validate">
                                </div>
                                <div class="col s12 m6">
                                    <input placeholder="Quartier" id="champ-quartier" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row no-margin-top no-margin-bottom">
                                <div class="col s12 m6">
                                    <select class="typeBien">
                                        <option value="" disabled selected>Type de bien</option>
                                        <option id="T1" value="1">T1</option>
                                        <option id="T2" value="2">T2</option>
                                        <option id="T3" value="3">T3</option>
                                        <option id="T4" value="4">T4 et +</option>
                                    </select>
                                </div>
                                <div class="col s6 m3 no-padding-left">
                                    <input placeholder="Surface min" id="champ-surface-min" type="text" class="validate">
                                </div>
                                <div class="col s6 m3 no-padding-right">
                                    <input placeholder="Surface max" id="champ-surface-max" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row no-margin-top no-margin-bottom">
                                <div class="col s12 m6">
                                    <select class="objectif">
                                        <option value="" disabled selected>Objectif</option>
                                        <option id="invest" value="1">Investir</option>
                                        <option id="ResPrinc" value="2">Acheter en résidence principale</option>
                                    </select>
                                </div>
                                <div class="col s6 m3 no-padding-left">
                                    <input placeholder="Budget min" id="champ-budget-min" type="text" class="validate">
                                </div>
                                <div class="col s6 m3 no-padding-right">
                                    <input placeholder="Budget max" id="champ-budget-max" type="text" class="validate">
                                </div>
                            </div>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>+ de critères</div>
                    <div class="collapsible-body">
                        <span>
                            <div class="row no-margin-top">
                                <div class="col s12 m6">
                                    <select class="choixChb">
                                        <option value="" disabled selected>Nb. Chambre(s)</option>
                                        <option id="chb1" value="1">1 champbre</option>
                                        <option id="chb2" value="2">2 chambres</option>
                                        <option id="chb3" value="3">3 chambres</option>
                                        <option id="chb4" value="4">4 chambres et plus</option>
                                    </select>
                                </div>
                                <div class="col s12 m6">
                                    <select class="choixPiece">
                                        <option value="" disabled selected>Nb. Pièce(s)</option>
                                        <option id="piece1" value="1">1 pièce</option>
                                        <option id="piece2" value="2">2 pièces</option>
                                        <option id="piece3" value="3">3 pièces</option>
                                        <option id="piece4" value="4">4 pièces</option>
                                        <option id="piece5" value="5">5 pièces et plus</option>
                                    </select>
                                </div>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>
            <div class="row center no-margin-top btn-recherche-nosbiens">
                <button class="btn waves-effect waves-light" type="submit" value="Rechercher">Rechercher</button>
            </div>
        </div>

        <div class="row carte-liste-articles">

            <div class="col s12 l7 xl8 liste-biens">

                <div class="row center no-margin-bottom">
                    <h1 class="section-title">{{ message }}</h1>
                </div>

                <div class="row">

                        {% for residence in residences %}

                    <div class="col s12 xl6">
                        <div class="card large">
                            <div class="card-image">

                                {% for media in residence.medias if media.typeMedia.nom == 'image' %}
                                <img src="{{ asset('img/'~media.lien) }}">
                                {% endfor %}

                            </div>
                            <div class="card-content">
                                <div class="row grille-infos">
                                    <div class="col s7 grille-gauche">
                                        <div class="row nom-residence">
                                            <h4>{{ residence.nom }}</h4>
                                            <p>à {{ residence.ville }}</p>
                                        </div>
                                        <div class="row annee-nbPiece">
                                            <div class="col s6 annee-residence">
                                                <h4>Livraison</h4>
                                                <p>{{ residence.dateLivraison }}</p>
                                            </div>
                                            <div class="col s6">
                                                <h4>Nb. pièces</h4>
                                                <p>Du T1 au T5</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s5">
                                        <h4>Prix</h4>
                                        <p>A partir de 90 000€</p>
                                        <br/>
                                        <h4>Disponibilité</h4>
                                        <p>5 logements</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action center">
                                <a href="#">Découvrir la résidence</a>
                            </div>
                        </div>
                    </div>

                        {% endfor %}

                </div>


                <div class="row">
                    {% if objectif == 'investir' %}
                    <h2><span>Investissez en toute sérénité</span></h2>
                    {% elseif objectif == 'residence' %}
                    <h2><span>Devenez propriétaire</span></h2>
                    {% endif %}
                </div>

                <div class="row proposition-services">
                    <div class="col s12 offset-m1 m10">
                        <div class="card media">
                            <div class="card-image">
                                <img src="{{ asset('img/article-immo.jpg') }}">
                            </div>
                            <div class="card-content">
                                {% if objectif == 'investir' %}
                                <h4>Nos services de Location et Gestion locative</h4>
                                <p>Not the same lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
                                {% elseif objectif == 'residence' %}
                                <h4>Les parcours immobiliers</h4>
                                <p>Not the same lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
                                {% endif %}
                            </div>
                            <div class="card-action center">
                                {% if objectif == 'investir' %}
                                <a href="{{ path("nosservices") }}">Découvrez les services</a>
                                {% elseif objectif == 'residence' %}
                                <a href="{{ path("parcoursimmo") }}">Découvrez les parcours</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                {# Affichage d'un lien vers les packs dans le parcours Investisseur #}
                {% if objectif == 'investir' %}
                <div class="row">
                    <div class="col s12 offset-m1 m10">
                        <div class="card media">
                            <div class="card-image">
                                <img src="{{ asset('img/article-immo.jpg') }}">
                            </div>
                            <div class="card-content">
                                <h4>Pack Sérénité</h4>
                                <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                                    lorem ipsum lorem ipsum lorem ipsum.</p>
                            </div>
                            <div class="card-action center">
                                <a href="#">Découvrez les autres packs</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% elseif objectif == 'residence' %}

                {% endif %}
                {# Fin affichage packs #}

                <div class="row">
                    <div class="col s12 offset-m1 m10">
                        <div class="card media">
                            <div class="card-content">
                                {#<h4>{{ article.titre }}</h4>
                                <p>{{ article.text | truncate(20) }}</p>#}
                                <h4>Bla Bla</h4>
                                <p>mfmrif fi fzio f</p>
                            </div>
                            <div class="card-image">
                                {#{% for media in article.medias if media.type == 'image' %}
                                    <img src="{{ asset('img/'~media.lien) }}">
                                {% endfor %}#}
                                <img src="{{ asset('img/article-immo.jpg') }}">
                            </div>
                            <div class="card-action center">
                                <a href="#">Lire l'article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col offset-l7 l6 offset-xl8 xl5 hide-on-small-only carte">
                <div id="map"></div>
                <script>

                    function initMap() {

                        var count = 0;
                        var locations = [
                            {% for residence in residences %}
                                ['{{ residence.nom }}', {{ residence.latitude }}, {{ residence.longitude }}],
                            {% endfor %}

                        ];

                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 12,
                            center: new google.maps.LatLng(47.902964, 1.909251),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        });

                        var infowindow = new google.maps.InfoWindow();

                        var marker, i;

                        for (i = 0; i < locations.length; i++) {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                                map: map
                            });

                            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                return function() {
                                    infowindow.setContent(locations[i][0]);
                                    infowindow.open(map, marker);
                                }
                            })(marker, i));
                        }

                    }

                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaGGAaNFdi508AC8JBUs9rhjAOPNnyBU&callback=initMap">
                </script>

            </div>
        </div>
    </div>


{% endblock content %}

{% block footer %}

{% endblock footer %}
