{% extends "MyOrleansBundle::layout.html.twig" %}


{% block content %}
    <div class="page-nosbiens body-container-margin">

        <div class="row">
            <div class="col s12 l3">
                <div class="moteur-recherche">
                    <h2 class="center">Votre recherche</h2>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">person_pin</i>Votre bien</div>
                            <div class="collapsible-body">
                                <span>
                                    <div class="row no-margin-top no-margin-bottom">
                                        <div class="input-field">
                                            <select class="typeBien">
                                                <option value="" disabled selected>Type</option>
                                                <option id="T1" value="1">T1</option>
                                                <option id="T2" value="2">T2</option>
                                                <option id="T3" value="3">T3</option>
                                                <option id="T4" value="4">T4 et +</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row no-margin-top no-margin-bottom">
                                        <div class="col s6 no-padding-left">
                                            <input placeholder="Surface min" id="champ-surface-min" type="text" class="validate">
                                        </div>
                                        <div class="col s6 no-padding-right">
                                            <input placeholder="Surface max" id="champ-surface-max" type="text" class="validate">
                                        </div>
                                    </div>
                                    <div class="row no-margin-top">
                                    <div class="input-field">
                                        <select class="choixChb">
                                            <option value="" disabled selected>Nb. Chambre(s)</option>
                                            <option id="chb1" value="1">1 champbre</option>
                                            <option id="chb2" value="2">2 chambres</option>
                                            <option id="chb3" value="3">3 chambres</option>
                                            <option id="chb4" value="4">4 chambres et plus</option>
                                        </select>
                                        <select class="choixPiece">
                                            <option value="" disabled selected>Nb. Pièce(s)</option>
                                            <option id="piece1" value="1">1 pièce</option>
                                            <option id="piece2" value="2">2 pièces</option>
                                            <option id="piece3" value="3">3 pièces</option>
                                            <option id="piece4" value="4">4 pièces</option>
                                            <option id="piece5" value="5">5 pièces et plus</option>
                                        </select>
                                    </div>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">place</i>Localisation</div>
                            <div class="collapsible-body">
                                <span>
                                    <div class="row">
                                        <div class="input-field">
                                            <input placeholder="Ville" id="champ-ville" type="text" class="validate">
                                            <input placeholder="Quartier" id="champ-quartier" type="text" class="validate">
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">whatshot</i>Investissement</div>
                            <div class="collapsible-body">
                                <span>
                                    <div class="row no-margin-top">
                                        <select class="objectif">
                                            <option value="" disabled selected>Objectif</option>
                                            <option id="invest" value="1">Investir</option>
                                            <option id="ResPrinc" value="2">Acheter en résidence principale</option>
                                        </select>
                                    </div>
                                    <div class="row no-margin-top">
                                        <div class="col s6 no-padding-left">
                                            <input placeholder="Budget min" id="champ-budget-min" type="text" class="validate">
                                        </div>
                                        <div class="col s6 no-padding-right">
                                            <input placeholder="Budget max" id="champ-budget-max" type="text" class="validate">
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="row center no-margin-top btn-recherche-nosbiens">
                        <button class="btn waves-effect waves-light" type="submit" value="Rechercher">Rechercher</button>
                    </div>
                </div>
            </div>

            <div class="col s12 l9">
                <div class="row carte-et-liste carte">
                    <div class="col m12 hide-on-med-and-down">
                        <div id="map"></div>
                        <script>
                            function initMap() {
                                var res_0 = {lat: 47.9088035, lng: 1.8913519999999835};
                                var res_1 = {lat: 48.862725, lng: 2.287592000000018};
                                var res_2 = {lat: 47.8932305, lng: 1.84716549999996};
                                var res_3 = {lat: 47.8544382, lng: 1.9075259999999616};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 11,
                                    center: res_0
                                });
                                var marker = new google.maps.Marker({
                                    position: res_0,
                                    map: map
                                });
                                var marker1 = new google.maps.Marker({
                                    position: res_1,
                                    map: map
                                });
                                var marker2 = new google.maps.Marker({
                                    position: res_2,
                                    map: map
                                });
                                var marker3 = new google.maps.Marker({
                                    position: res_3,
                                    map: map
                                });
                            }
                        </script>
                        <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaGGAaNFdi508AC8JBUs9rhjAOPNnyBU&callback=initMap">
                        </script>

                    </div>
                </div>
                <div class="row liste-biens">

                    <div class="carousel">

                        <div class="carousel-item" href="#one!">
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{ asset('img/res_mypark.jpg') }}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h2>My Park</h2>

                                        <h4>Année de livraison</h4>
                                        <p>4è Trimestre 2017</p>

                                        <h4>Disponibilité</h4>
                                        <p>5 logements</p>

                                    </div>
                                    <div class="card-action">
                                        <a href="#">Découvrir</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" href="#two!">
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{ asset('img/res_terrasses_paradis.jpg') }}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h2>Les terrasses du Paradis</h2>

                                        <h4>Année de livraison</h4>
                                        <p>4è Trimestre 2017</p>

                                        <h4>Disponibilité</h4>
                                        <p>5 logements</p>

                                    </div>
                                    <div class="card-action">
                                        <a href="#">Découvrir</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" href="#three!">
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{ asset('img/res_dunois.jpg') }}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h2>Les Jardins de Babylone</h2>

                                        <h4>Année de livraison</h4>
                                        <p>4è Trimestre 2017</p>

                                        <h4>Disponibilité</h4>
                                        <p>5 logements</p>

                                    </div>
                                    <div class="card-action">
                                        <a href="#">Découvrir</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" href="#four!">
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{ asset('img/res_mypark.jpg') }}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h2>Le Florès</h2>

                                        <h4>Année de livraison</h4>
                                        <p>4è Trimestre 2017</p>

                                        <h4>Disponibilité</h4>
                                        <p>5 logements</p>

                                    </div>
                                    <div class="card-action">
                                        <a href="#">Découvrir</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" href="#five!">
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{ asset('img/res_terrasses_paradis.jpg') }}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <h2>Les Terrasses du Loiret</h2>

                                        <h4>Année de livraison</h4>
                                        <p>4è Trimestre 2017</p>

                                        <h4>Disponibilité</h4>
                                        <p>5 logements</p>

                                    </div>
                                    <div class="card-action">
                                        <a href="#">Découvrir</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>






        <div class="row">
            <div class="col s4 bordure-titre">
                <p class="white-text">Investissez en loi Pinel</p>
            </div>
            <div class="col s4 center alignement-titre">
                <h2>Investissez en toute sérénité</h2>
            </div>
            <div class="col s4 bordure-titre">
                <p class="white-text">Acheter un bien immobilier</p>
            </div>
        </div>

        <div class="row proposition-services">
            <div class="col s12 offset-m2 m8 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('img/article-immo.jpg') }}">
                    </div>
                    <div class="card-content">
                        <h4>Location et gestion locative</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                            lorem ipsum lorem ipsum lorem ipsum.</p>
                    </div>
                    <div class="card-action center">
                        <a href="#">Découvrez les services</a>
                    </div>
                </div>
            </div>
            <div class="col s12 offset-m2 m8 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('img/article-immo.jpg') }}">
                    </div>
                    <div class="card-content">
                        <h4>Pack Sérénité</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                            lorem ipsum lorem ipsum lorem ipsum.</p>
                    </div>
                    <div class="card-action center">
                        <a href="#">Découvrez les autres packs</a>
                    </div>
                </div>
            </div>
            <div class="col s12 offset-m2 m8 l4">
                <div class="card">
                    <div class="card-content">
                        <h4>Titre de l'article</h4>
                        <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                            lorem ipsum lorem ipsum lorem ipsum.</p>
                    </div>
                    <div class="card-image">
                        <img src="{{ asset('img/article-immo.jpg') }}">
                    </div>
                    <div class="card-action center">
                        <a href="#">Lire l'article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
