{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block content %}

<!--premier slide-->

    <div class="breadcrumb">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">message</i></a>
    </div>


    <div class="container">

        <h2 class="subtitle fancy"><span>Nos services</span></h2>
        <!--premier block-->
        {% for service in services %}
            {% if service.id is odd %}
        <div class="row">
            <div class="col s12 m6 l6">
                <div data-aos="fade-up-right">
                    <div class="boxi">
                        <h3>{{ service.type }}</h3>
                        <p>{{ service.description }}</p>
                        <div class="center">
                            <a href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn"><i class="material-icons">message</i> Demander la documentation</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col s12 m6 l6">
                <div data-aos="fade-up-left">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OFE0Z6r--7E" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        {% elseif service.id is even  %}


        <!--fin premier block-->




        <!--fin formulaire de contact-->

        <!--deuxième block-->

        <div class="row">
            <div class="col s12 m6 l6">

                <div data-aos="fade-up-right">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OFE0Z6r--7E" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>


            <div class="col s12 m6 l6">
                <div data-aos="fade-up-left">
                    <div class="boxi">
                        <h3>{{ service.type }}</h3>
                        <p>{{ service.description }}</p>
                        <div class="center">
                            <a href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn"><i class="material-icons">message</i> Demander la documentation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--fin prenmier container et fin block-->
{% endif %}

{% endfor %}

    </div>



<!-- debut container fluid -->
    <!--les packs-->

    <div class="bloc-color container-fluid">
        <div class="row">
            <div class="col offset-s2 s8">
                <h2 class="subtitle fancy"><span>Nos packs</span></h2>
                <div class="row">
                    {% for pack in packs %}
                    <div class="col m6 s12 l4">
                        <div class="card">
                            <div class="card-image">
                                <div data-aos="flip-left">
                                    <img src="{{ asset('img/pack4.jpg') | imagine_filter('thumb_pack') }}" alt="logo de l'entreprise" />

                                    <span class="card-title">{{ pack.nom }}</span>
                                    <a class="btn-floating halfway-fab waves-effect waves-light light-green button-collapse" data-activates="slide-out" href="#"><i class="material-icons">message</i></a>
                                </div>
                                <div class="card-content">
                                    <p>{{ pack.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}


                </div>
            </div>
        </div>

    </div>


    <!--fin packs-->

    <!--fin troisième block-->
    <div class="container">
        <!--quatrième block-->
        <div class="row">
            <h2 class="subtitle fancy"><span>Nos derniers témoignages</span></h2>

                <div class="col s12 m6 l6">
                    {% for temoignage in temoignages %}
                    {% if temoignage.id is odd %}
                    <div class="boxi">
                        <h3>{{ temoignage.theme }}</h3>
                        <p>{{ temoignage.message }}</p>
                        <br/>
                            <p style="text-align: right">{{ temoignage.auteur }}</p>
                            <p></p>

                    </div>
                </div>


                <div class="col s12 m6 l6">

                    <div class="boxi">
                        <h3>{{ temoignage.theme }}</h3>
                        <p>{{ temoignage.message }}</p>

                        <br/>
                            <p style="text-align: right">{{ temoignage.auteur }}</p>
                            <p></p>

                    </div>
                    {% endif %}

                    {% endfor %}
                </div>


        </div>


    </div>
    <!-- Fin bloc Body-->


    <!-- Formulaire -->
    <form method="post" action="nosservices" >
    <div id="slide-out" class="side-nav">
        <div class="userView">
                <h3 align="center">Contactez nous !</h3>
                <h4 align="center">02.38.75.94.47</h4>

                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Nom</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="first_name">Prénom</label>
                    </div>
                </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Téléphone</label>
                        </div>
                    </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate">
                                    <label for="email" data-error="wrong" data-success="right">Email</label>
                                </div>
                            </div>



                        <div class="input-field col s12">
                            <i class="material-icons prefix">error</i>
                            <select>
                                <option value="" disabled selected>Objet?</option>
                                <option value="1">Gestion locative</option>
                                <option value="2">Vente</option>
                                <option value="3">Pack services</option>
                                <option value="4">Autres</option>
                            </select>

                        </div>

                            <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">mode_edit</i>
                                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                        <label for="icon_prefix2">Votre message</label>
                                    </div>
                            </div>

                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light btn-large center-align" type="submit" name="action">Envoyer
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
    </div>

</div>
    </form>
    <!--fin formulaire-->

    {% block javascripts %}

        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/aos.js') }}"></script>
        <script>
            AOS.init();
            $('.button-collapse').sideNav({
                    edge: 'right', // Choose the horizontal origin
                    draggable: false, // Choose whether you can drag to open on touch screens
                    closeOnClick: true
                }

            );
        </script>
    {% endblock %}
{% endblock %}

