<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="{{ absolute_url(asset('css/materialize.min.css')) }}" media="screen,projection"/>
    <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" rel="stylesheet">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col s3 center contacter">
            <h2 class="telephone">{{ telephone_number }}</h2>
        </div>
        <div class="col s6 center">
            <img class="logo" src="{{ absolute_url(asset('img/logo_myorleans.png')) }}" alt="logo de l'entreprise"/>
        </div>
        <div class="col s3 center contacter">
            <h2 class="mail">{{ mail_agence }}</h2>
        </div>
    </div>
</div>
<div id="content" class="content-appartement">
    <div class="container-fluid">
        <div class="row center">
            <div class="col s12">
                <h2>
                    <span>{{ residence.nom }} - {{ typeBien.nom }} Ref {{ reference }} - {{ typeLogement.nom }}</span>
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="photoinfo-apt">
    <div class="photo-apt">
        {% if media['image'] is defined and  media['image'] != null %}
            <img src="{{ asset('uploads/'~media['image'].lien) }}" class="thumb_pdf_photo_apt" alt="photo-appart"/>
        {% else %}
            <img src="{{ asset('img/Pas-dimage.jpg') }}" class="thumb_pdf_photo_apt" alt="photo-appart"/>
        {% endif %}
    </div>
    <div class="info-apt">
        <h3>{{ residence.ville.nom }}</h3>
        <h3>{{ flat.typeBien.nom }}</h3>
        <h3>{{ flat.surface }} m2</h3>
        <h3>{{ flat.prix }} €</h3>
        {% if residence.eligibilitePinel == 1 %}
            <h3>Eligible Loi Pinel</h3>
        {% endif %}
    </div>
</div>
<h3>Les Détails de l'appartement</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col s6">
            <div class="rang-presta">
                <div class="row">
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/floor.png')) }}"
                             alt="revetement">
                    </div>
                    <div class="col s10 prestation">
                        <p>Revetment Sol Salle de bains : Carrelage</p>
                        <p>Revetment Sol Chambre : Parquet</p>
                        <p>Revetment Séjour : Carrelage</p>
                    </div>
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/Parking.png')) }}"
                             alt="stationnement voiture">
                    </div>
                    <div class="col s10 prestation">
                        <p>Stationnement : {{ flat.stationnement }}</p>
                    </div>
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/surface.png')) }}"
                             alt="surfaces">
                    </div>
                    <div class="col s10 prestation">
                        <p>Surface Habitable : {{ flat.surface }} m2</p>
                        <p>Surface Séjour : {{ flat.surfaceSejour }} m2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="rang-presta">
                <div class="row">
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/agenda.png')) }}"
                             alt="date de livraison">
                    </div>
                    <div class="col s10 prestation">
                        <p>livraison {{ residence.dateLivraison }}</p>
                    </div>
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/boussole.png')) }}"
                             alt="exposition séjour">
                    </div>
                    <div class="col s10 prestation">
                        <p>Exposition du séjour : {{ flat.expositionSejour }}</p>
                    </div>
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/chauffage.png')) }}"
                             alt="type de chauffage">
                    </div>
                    <div class="col s10 prestation">
                        <p>Chauffage gaz collectif</p>
                    </div>
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/menuiserie.png')) }}"
                             alt="type de menuiseries">
                    </div>
                    <div class="col s10 prestation">
                        <p>Menuiseries : PVC</p>
                    </div>
                    <div class="col s2 icon-prestation">
                        <img class="icon-apt" src="{{ absolute_url(asset('img/icons/room.png')) }}"
                             alt="nombre de pièces">
                    </div>
                    <div class="col s10 prestation">
                        <p>Nombre de Pièces : 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="plan-apt center">

    <h3 class="titre-plan">Plans</h3>
    {% if media['image'] is defined and  media['image'] != null %}
        <img src="{{ asset('uploads/'~media['plans'].lien) }}" alt="plans"/>
    {% else %}
        <img src="{{ asset('img/Pas-dimage.jpg') }}" alt="plans"/>
    {% endif %}
</div>

<div id="content" class="content-appartement">
    <div class="container-fluid">
        <div class="row center">
            <div class="col s12">
                <h2>
                    <span>La Résidence : {{ residence.nom }} </span>
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="photo-residence center">
    {% if residence.media['image'] is defined and  residence.media['image'] != null %}
        <img src="{{ asset('uploads/'~residence.media['image'].lien) }}" alt="photo_residence"/>
    {% else %}
        <img src="{{ asset('img/Pas-dimage.jpg') }}" alt="photo_residence"/>
    {% endif %}
</div>


<div class="container">
    <div class="row">
        <div class="box-notesite">
            <div class="row">
                <li>
                <li class="design col s3">
                    <div class="notesite" id="note_0" data-note="{{ residence.noteTransports }}"></div>
                    <br/>
                    <div class="list-legend">
                        <div class="row center-align">
                            <ul>
                                <li class="design col m12">transports</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="content col s3">
                    <div class="notesite" id="note_3" data-note="{{ residence.noteCommerces }}"></div>
                    <br/>
                    <div class="list-legend">
                        <div class="row">
                            <ul>
                                <li class="design col m12">commerces</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="creativity col s3">
                    <div class="notesite" id="note_1" data-note="{{ residence.noteServices }}"></div>
                    <div class="list-legend">
                        <div class="row">
                            <ul>
                                <li class="design col m12">services</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="usability col s3">
                    <div class="notesite" id="note_2" data-note="{{ residence.noteEsthetisme }}"></div>
                    <div class="list-legend">
                        <div class="row">
                            <ul>
                                <li class="design col m12">esthétisme</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- pour les notes, on les rentre de BAS EN HAUT. celle du bas est donc transport, celle du haut esthétisme  -->
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="rapel-residence text-justify">
                <h3>La Residence</h3>
                <p>
                    {{ residence.description }}
                </p>
            </div>
        </div>
    </div>
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{{ absolute_url(asset('js/jquery-3.1.1.min.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('js/materialize.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/testcompteurpdf.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.circliful.min.js')) }}"></script>


</body>
</html>