<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>


    <link rel="stylesheet" href="{{ absolute_url(asset('css/materialize.min.css')) }}" media="screen,projection"/>
    <link href="{{ absolute_url(asset('css/pdf.css')) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ absolute_url(asset('css/font-awesome.min.css')) }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s3 center contacter">
            <h2 class="telephone">{{ telephone_number }}</h2>
        </div>
        <div class="col s6 center">
            <img class="logo" src="{{ absolute_url(asset('img/logo_myorleans.png')) }}" alt="logo de l'entreprise"/>
        </div>
        <div class="col s3 center contacter">
            <h2 class="mail">{{ mail_agence }}</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="undervideo-residence">
            <div class="col s12">
                <h2><span>{{ residence.nom }} à {{ residence.ville.nom }}</span></h2>
            </div>
            <div class="col s12">
            {% if media['image-cover'] is defined and  media['image-cover'] != null %}
                {% set cover = true %}
                <img src="{{ absolute_url(asset('uploads/'~media['image-cover'].lien)) }}" alt="photo_residence"/>
            {% elseif cover is not defined %}
                <img src="{{ absolute_url(asset('img/Pas-dimage.jpg')) }}" alt="photo_residence"/>
            {% endif %}
            </div>
            <div class="col s12">
                <table class="offre-residence">
                    <tr>
                        <td><strong>Offre du moment</strong><br/><span class="subtab-residence"><strong
                                        class="offre">{{ residence.offre }}</strong></span></td>
                        <td><strong>Prix</strong><br/><span class="subtab-residence"><strong>à partir de {{ prixMin }}
                                    €</strong></span>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Date de livraison</strong><br/><span
                                    class="subtab-residence"><strong>{{ residence.dateLivraison }}</strong></span>
                        </td>
                        <td><strong>Nb. Pièces</strong><br/><span class="subtab-residence"><strong>Du {{ typeMin }}
                                    au {{ typeMax }}</strong></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h3>Nombre de logements disponibles : {{ flatsDispo }} sur {{ residence.nbTotalLogements }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="citation-residence" id="consult">
                <p>
                    {{ residence.accroche }}
                </p>

                {% if residence.eligibilitePinel == 1 %}
                    <p class="pinel-residence">Elligible Loi Pinel</p>
                {% else %}
                    <p class="pinel-residence">Non Elligible Loi Pinel</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-notesite">
            <div class="row">
                <li>
                <li class="design col s3">
                    <div class="notesite" id="note_0" data-note="{{ residence.noteTransports }}"></div>
                    <br/>
                    <div class="list-legend">
                        <div class="row center-align">
                            <ul>
                                <li class="design col m12">transports</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="content col s3">
                    <div class="notesite" id="note_3" data-note="{{ residence.noteCommerces }}"></div>
                    <br/>
                    <div class="list-legend">
                        <div class="row">
                            <ul>
                                <li class="design col m12">commerces</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="creativity col s3">
                    <div class="notesite" id="note_1" data-note="{{ residence.noteServices }}"></div>
                    <div class="list-legend">
                        <div class="row">
                            <ul>
                                <li class="design col m12">services</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="usability col s3">
                    <div class="notesite" id="note_2" data-note="{{ residence.noteEsthetisme }}"></div>
                    <div class="list-legend">
                        <div class="row">
                            <ul>
                                <li class="design col m12">esthétisme</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- pour les notes, on les rentre de BAS EN HAUT. celle du bas est donc transport, celle du haut esthétisme  -->
                </ul>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="rapel-residence text-justify">
                    <h3>La Residence</h3>
                    <p>
                        {{ residence.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <div>
                <div id="map-residences"></div>
                <img src="{{ absolute_url(asset('https://maps.googleapis.com/maps/api/staticmap?center='~residence.latitude~','~residence.longitude~'&markers=color:red%7Clabel:C%7C'~residence.latitude~','~residence.longitude~'&zoom=14&size=1200x600&key='~googlemap_static_map_key))}}"
                     alt="carte_residence"/>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Nos Biens pour cette résidence</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul>
                <li>
                    <h3>{{ typeLogement[0].nom }}</h3>

                    <table class="stripped">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Type</th>
                            <th>Surface</th>
                            <th>Prix</th>
                            <th>Fiche</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for flat in flats %}
                            {% if flat.typeLogement.nom == typeLogement[0].nom %}
                                <tr>
                                    <td>{{ flat.reference }}</td>
                                    <td>{{ flat.typeLogement.nom }}</td>
                                    <td>{{ flat.surface }}m2</td>
                                    <td>{{ flat.prix }} €</td>
                                    {% if flat.statut %}
                                        <td>
                                            <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                               class="waves-effect waves-light btn btn-residence">Disponible</a>
                                        </td>
                                    {% else %}
                                        <td class="waves-effect waves-light btn btn-vendu">
                                            <strong>Vendu</strong></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </li>
                <li>
                    <h3>{{ typeLogement[1].nom }}</h3>

                    <table class="stripped">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Type</th>
                            <th>Surface</th>
                            <th>Prix</th>
                            <th>Fiche</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for flat in flats %}
                            {% if flat.typeLogement.nom == typeLogement[1].nom %}
                                <tr>
                                    <td>{{ flat.reference }}</td>
                                    <td>{{ flat.typeLogement.nom }}</td>
                                    <td>{{ flat.surface }}m2</td>
                                    <td>{{ flat.prix }} €</td>
                                    {% if flat.statut %}
                                        <td>
                                            <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                               class="waves-effect waves-light btn btn-residence">Disponible</a>
                                        </td>
                                    {% else %}
                                        <td class="waves-effect waves-light btn btn-vendu">
                                            <strong>Vendu</strong></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </li>
                <li>
                    <h3>{{ typeLogement[2].nom }}</h3>

                    <table class="stripped">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Type</th>
                            <th>Surface</th>
                            <th>Prix</th>
                            <th>Fiche</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for flat in flats %}
                            {% if flat.typeLogement.nom == typeLogement[2].nom %}
                                <tr>
                                    <td>{{ flat.reference }}</td>
                                    <td>{{ flat.typeLogement.nom }}</td>
                                    <td>{{ flat.surface }}m2</td>
                                    <td>{{ flat.prix }} €</td>
                                    {% if flat.statut %}
                                        <td>
                                            <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                               class="waves-effect waves-light btn btn-residence">Disponible</a>
                                        </td>
                                    {% else %}
                                        <td class="waves-effect waves-light btn btn-vendu">
                                            <strong>Vendu</strong></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </li>
                <li>
                    <h3>{{ typeLogement[3].nom }}</h3>

                    <table class="stripped">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Type</th>
                            <th>Surface</th>
                            <th>Prix</th>
                            <th>Fiche</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for flat in flats %}
                            {% if flat.typeLogement.nom == typeLogement[3].nom %}
                                <tr>
                                    <td>{{ flat.reference }}</td>
                                    <td>{{ flat.typeLogement.nom }}</td>
                                    <td>{{ flat.surface }}m2</td>
                                    <td>{{ flat.prix }} €</td>
                                    {% if flat.statut %}
                                        <td>
                                            <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                               class="waves-effect waves-light btn btn-residence">Disponible</a>
                                        </td>
                                    {% else %}
                                        <td class="waves-effect waves-light btn btn-vendu">
                                            <strong>Vendu</strong></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </li>
            </ul>
        </div>
    </div>
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{{ absolute_url(asset('js/jquery-3.1.1.min.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('js/materialize.min.js')) }}"></script>
<script src="{{ absolute_url(asset('js/testcompteurpdf.js')) }}"></script>
<script src="{{ absolute_url(asset('js/jquery.circliful.min.js')) }}"></script>


</body>
</html>










