{% extends '::base.html.twig' %}

{% block body %}

    <h1>Reception du formulaire de contact</h1>

    <p>Vous avez reçu un nouveau message de {{ client.prenom }} {{ client.nom }}</p>
    <br/>
    <p><strong>Mail: </strong>{{ client.email }}</p>
    <p><strong>Téléphone: </strong>{{ client.telephone }}</p>
    <p><strong>Code postal: </strong>{{ client.codePostal }}</p>
    <p><strong>Ville</strong>: {{ client.ville }}</p>
    <p><strong>Adresse</strong>: {{ client.adresse }}</p>
    <p><strong>Message</strong>: {{ client.message }}</p>
    {% if client.newsletter == 0 %}
        <p><strong>Inscription newsletter</strong>: non </p>
    {% else %}
        <p><strong>Inscription newsletter</strong>: oui </p>
    {% endif %}
{% endblock %}