{% extends '::base.html.twig' %}

{% block body %}
    <h1>Reception du formulaire de contact</h1>
    <div>
        <p>Vous avez reçu un nouveau message de {{ client.prenom }} {{ client.nom }}</p>
    </div>

    <div>
        <p><strong>Mail:</strong> {{ client.email }}</p>
        <p><strong>Téléphone:</strong> {{ client.telephone }}</p>
        <p><strong>Code postal:</strong> {{ client.codePostal }}</p>
        <p><strong>Ville:</strong> {{ client.ville }}</p>
        <p><strong>Adresse:</strong> {{ client.adresse }}</p>

        <p><strong>:
            {% if client.sujet == 1 %}
                Residence principale
            {% elseif client.sujet == 2 %}
                Investissement
            {% elseif client.sujet == 3 %}
                Services
            {% else %}
                Autres
            {% endif %}
            </strong></p>

        <p><strong>Message:</strong> {{ client.message }}</p>

        {% if client.newsletter == 0 %}
            <p><strong>Inscription newsletter:</strong> non </p>
        {% else %}
            <p><strong>Inscription newsletter:</strong> oui </p>
        {% endif %}
    </div>
{% endblock %}




