{% extends '::base.html.twig' %}

{% block body %}

    <h1>Reception du formulaire de contact</h1>

    <p>Vous avez reçu un nouveau message de {{ client.prenom }} {{ client.nom }}</p>
    <br/>
    <p>Mail: {{ client.email }}</p>
    <p>Téléphone: {{ client.telephone }}</p>
    <p>Code postal: {{ client.codePostal }}</p>
    <p>Ville: {{ client.ville }}</p>
    <p>Adresse : {{ client.adresse }}</p>

    {% if client.sujet == 1 %}
        <p>Sujet: Residence principale</p>
    {% elseif client.sujet == 2 %}
        <p>Sujet: Investissement</p>
    {% elseif client.sujet == 3 %}
        <p>Sujet: Services</p>
    {% else %}
        <p>Sujet: Autres</p>
    {% endif %}

    <p>Message: {{ client.message }}</p>

    {% if client.newsletter == 0 %}
        <p>Inscription newsletter: non </p>
    {% else %}
        <p>Inscription newsletter: oui </p>
    {% endif %}
{% endblock %}