{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}" media="screen,projection"/>
    <link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}" media="screen,projection"/>
{% endblock %}

{% block content %}

    <div class="content-residence">
        <div class="video-container">
            <iframe width="853" height="480" src="{{ asset(media.lien) }}" frameborder="0"
                    allowfullscreen></iframe>

        </div>
        <div class="container">
            <div class="row">
                <div class="undervideo-residence">
                    <div class="col l6 s12">
                        <h2><span>{{ residence.nom }}</span></h2>
                        <h2 class="lieu-residence">à {{ residence.ville }}</h2>
                    </div>
                    <div class="col l6 s12">
                        <table class="offre-residence">
                            <tr>
                                <td><strong>Offre</strong><br/><span
                                            class="subtab-residence">{{ residence.dateLivraison }}</span></td>
                                <td><strong>Prix</strong><br/><span class="subtab-residence">à partir de 90 000 €</span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Date de livraison</strong><br/><span class="subtab-residence">{{ residence.dateLivraison }}</span>
                                </td>
                                <td><strong>Nb. Pièces</strong><br/><span class="subtab-residence">du T1 au T5</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="col s12">
                    <img class="notation" src="{{ asset('img/notation.jpg') }}" alt="notation"/>
                </div>
            </div>
            <div class="row justify">
                <div class="col l6 s12">
                    <h2>La Residence</h2>
                    <p>
                        {{ residence.description }}
                    </p>
                </div>
                <div class="col l6 s12">
                    <h2>Les Prestations</h2>

                    <img class="icon-residence" src="{{ asset(media.lien) }}" alt="acces handicape"/>Accessibiité<br/>
                    <img class="icon-residence" src="{{ asset('img/icons/shopping-cart.png') }}" alt="commerces"/>Commerces<br/>
                    <img class="icon-residence" src="{{ asset('img/icons/smoking_not_allowed.png') }}"
                         alt="non fumeur"/>Non Fumeur<br/>
                </div>
            </div>
            <div class="row">
                <div class="hide-on-small-only">
                    <div id="map-residences"></div>
                    <script>
                        function initMap() {
                            var uluru = {lat: 47.9088035, lng: 1.8913519999999835};
                            var map = new google.maps.Map(document.getElementById('map-residences'), {
                                zoom: 15,
                                center: uluru
                            });
                            var marker = new google.maps.Marker({
                                position: uluru,
                                map: map
                            });
                        }
                    </script>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaGGAaNFdi508AC8JBUs9rhjAOPNnyBU&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12">
                    <div class="citation-residence">
                        <p>
                            {{ residence.citation }}
                        </p>
                        <p class="pinel-residence">
                            {{ residence.pinel }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <h3>Nombre de logements disponibles : {{ count }}</h3>


                    <h3 class="consulter-residence">Consultez nos biens disponibles</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="accordeon-residence">
                        <ul class="collapsible popout" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">T1</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for flat in flats if flat.type == 'T1' %}
                                            <tr>
                                                <td>{{ flat.reference }}</td>
                                                <td>{{ flat.type }}</td>
                                                <td>{{ flat.surface }}m2</td>
                                                <td>{{ flat.prix }} €</td>
                                                {% if flat.statut == 'VENDU' %}
                                                    <td class="waves-effect waves-light btn btn-vendu">
                                                        <strong>Vendu</strong></td>
                                                {% else %}
                                                    <td><a class="waves-effect waves-light btn btn-residence">Voir</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T2</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for flat in flats if flat.type == 'T2' %}
                                            <tr>
                                                <td>{{ flat.reference }}</td>
                                                <td>{{ flat.type }}</td>
                                                <td>{{ flat.surface }}m2</td>
                                                <td>{{ flat.prix }} €</td>
                                                {% if flat.statut == 'VENDU' %}
                                                    <td class="waves-effect waves-light btn btn-vendu">
                                                        <strong>Vendu</strong></td>
                                                {% else %}
                                                    <td><a class="waves-effect waves-light btn btn-residence">Voir</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T3</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for flat in flats if flat.type == 'T3' %}
                                            <tr>
                                                <td>{{ flat.reference }}</td>
                                                <td>{{ flat.type }}</td>
                                                <td>{{ flat.surface }}m2</td>
                                                <td>{{ flat.prix }} €</td>
                                                {% if flat.statut == 'VENDU' %}
                                                    <td class="waves-effect waves-light btn btn-vendu">
                                                        <strong>Vendu</strong></td>
                                                {% else %}
                                                    <td><a class="waves-effect waves-light btn btn-residence">Voir</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T4</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for flat in flats if flat.type == 'T4' %}
                                            <tr>
                                                <td>{{ flat.reference }}</td>
                                                <td>{{ flat.type }}</td>
                                                <td>{{ flat.surface }}m2</td>
                                                <td>{{ flat.prix }} €</td>
                                                {% if flat.statut == 'VENDU' %}
                                                    <td class="waves-effect waves-light btn btn-vendu">
                                                        <strong>Vendu</strong></td>
                                                {% else %}
                                                    <td><a class="waves-effect waves-light btn btn-residence">Voir</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T5 et plus</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for flat in flats if flat.type == 'T5' or flat.type == 'T6' or flat.type == 'T7' or  flat.type == 'T8' %}
                                            <tr>
                                                <td>{{ flat.reference }}</td>
                                                <td>{{ flat.type }}</td>
                                                <td>{{ flat.surface }}m2</td>
                                                <td>{{ flat.prix }} €</td>
                                                {% if flat.statut == 'VENDU' %}
                                                    <td class="waves-effect waves-light btn btn-vendu">
                                                        <strong>Vendu</strong></td>
                                                {% else %}
                                                    <td><a class="waves-effect waves-light btn btn-residence">Voir</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}