{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}" media="screen,projection"/>
    <link href="{{ asset('css/residence.css') }}" rel="stylesheet" type="text/css"/>


{% endblock %}

{% block content %}



<!--logo dde de documentation-->
<div class="breadcrumb">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">message</i></a>
</div>
<!--fin logo dde de documentation-->

<div class="content-residence">
    <div class="container-fluid center">
        <div class="row">
            <div class="col s12">

                {% if media['video'] is defined and  media['video'] != null %}
                    {% set video = true %}
                    <div class="video-residence">
                        <video width="90%" controls>
                            <source src="{{ asset('uploads/'~media['video'].lien) }}" type="video/mp4">
                            <source src="{{ asset('uploads/'~media['video'].lien) }}" type="video/ogg">
                            <source src="{{ asset('uploads/'~media['video'].lien) }}" type="video/webm">
                        </video>
                    </div>
                {% elseif media['image-cover'] is defined and  media['image-cover'] != null and  video is not defined %}
                    <img src="{{ asset('uploads/'~media['image-cover'].lien) | imagine_filter('thumb_photo_residence') }}" alt="photo_residence"/>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="buttondocprint">
                    <div class="col offset-s1 s5">
                        <a class="waves-effect waves-light btn button-collapse" data-activates="slide-out"><i
                                    class="material-icons left">message</i>Demander la
                            documentation</a>
                    </div>

                    <div id="editor" class="col offset-s1 s5">
                        <a class="waves-effect waves-light btn"
                           href="{{ path('residence_pdf', { 'id': residence.id }) }}">
                            <i id="cmd" class="material-icons left">print</i>Imprimer cette page</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="undervideo-residence">
                    <div class="col l6 s12">
                        <h2><span>{{ residence.nom }}</span></h2>
                        <h2 class="lieu-residence">à {{ residence.ville.nom }}</h2>
                    </div>
                    <div class="col l6 s12">
                        <table class="offre-residence">
                            <tr>

                                <td><strong>Offre du moment</strong><br/><span class="subtab-residence"><strong
                                                class="offre">{{ residence.offre }}</strong></span></td>
                                <td><strong>Prix</strong><br/><span
                                            class="subtab-residence"><strong>à partir {{ prixMin }} €</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Date de livraison</strong><br/><span
                                            class="subtab-residence"><strong>{{ residence.dateLivraison }}</strong></span>
                                </td>
                                <td><strong>Nb. Pièces</strong><br/><span
                                            class="subtab-residence"><strong>Du {{ typeMin }}
                                            au {{ typeMax }}</strong></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3>Nombre de logements disponibles : {{ flatsDispo }} sur {{ residence.nbTotalLogements }}</h3>
                    <h3 class="consulter-residence"><a href="#consult">Consultez nos biens disponibles</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="box-notesite">
                    <div class="row">
                        <ul>
                            <li class="design col m3 s6">
                                <div class="notesite" id="note_0" data-note="{{ residence.noteTransports }}"></div>
                                <br/>
                                <div class="list-legend">
                                    <div class="row center-align">
                                        <ul>
                                            <li class="design col m12">transports</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="content col m3 s6">
                                <div class="notesite" id="note_3" data-note="{{ residence.noteCommerces }}"></div>
                                <br/>
                                <div class="list-legend">
                                    <div class="row">
                                        <ul>
                                            <li class="design col m12">commerces</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="creativity col m3 s6">
                                <div class="notesite" id="note_1" data-note="{{ residence.noteServices }}"></div>
                                <div class="list-legend">
                                    <div class="row">
                                        <ul>
                                            <li class="design col m12">services</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="usability col m3 s6">
                                <div class="notesite" id="note_2" data-note="{{ residence.noteEsthetisme }}"></div>
                                <div class="list-legend">
                                    <div class="row">
                                        <ul>
                                            <li class="design col m12">esthétisme</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- pour les notes, on les rentre de BAS EN HAUT. celle du bas est donc transport, celle du haut esthétisme  -->
                        </ul>
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="rapel-residence text-justify">
                            <h3>La Residence</h3>
                            <p>
                                {{ residence.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <div class="hide-on-small-only">
                            <div id="map-residences"></div>
                            <script>
                                var map;
                                function initMap() {
                                    var residence = {lat: {{ residence.latitude }}, lng: {{ residence.longitude }}};
                                    map = new google.maps.Map(document.getElementById('map-residences'), {
                                        center: residence,
                                        zoom: 15
                                    });
                                    var marker = new google.maps.Marker({
                                        position: residence,
                                        map: map
                                    });

                                }
                            </script>
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaGGAaNFdi508AC8JBUs9rhjAOPNnyBU&callback=initMap"
                                    async defer></script>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 center">
                        <div class="citation-residence" id="consult">
                            <p>
                                {{ residence.accroche }}
                            </p>

                            {% if residence.eligibilitePinel == 1 %}
                                <p class="pinel-residence">Elligible Loi Pinel</p>
                            {% else %}
                                <p class="pinel-residence">Non Elligible Loi Pinel</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col s12">
                    <div class="dispo">
                        <h3>Nombre de logements disponibles : {{ flatsDispo }} sur {{ residence.nbTotalLogements }}</h3>
                        <h3 class="consulter-residence">Consultez nos biens disponibles</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="accordeon-residence">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header">{{ typeLogement[0].nom }}</div>
                                    <div class="collapsible-body">
                                        <table class="stripped">
                                            <thead>
                                            <tr>
                                                <th>Référence</th>
                                                <th>Type</th>
                                                <th>Surface</th>
                                                <th>Prix</th>
                                                <th>Fiche</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for flat in flats %}
                                                {% if flat.typeLogement.nom == typeLogement[0].nom %}
                                                    <tr>
                                                        <td>{{ flat.reference }}</td>
                                                        <td>{{ flat.typeLogement.nom }}</td>
                                                        <td>{{ flat.surface }} m<sup>2</sup></td>
                                                        <td>{{ flat.prix }} €</td>
                                                        {% if flat.statut %}
                                                            <td>
                                                                <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                                                   class="waves-effect waves-light btn btn-residence">Voir</a>
                                                            </td>
                                                        {% else %}
                                                            <td class="waves-effect waves-light btn btn-vendu">
                                                                <strong>Vendu</strong></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">{{ typeLogement[1].nom }}</div>
                                    <div class="collapsible-body">
                                        <table class="stripped">
                                            <thead>
                                            <tr>
                                                <th>Référence</th>
                                                <th>Type</th>
                                                <th>Surface</th>
                                                <th>Prix</th>
                                                <th>Fiche</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for flat in flats %}
                                                {% if flat.typeLogement.nom == typeLogement[1].nom %}
                                                    <tr>
                                                        <td>{{ flat.reference }}</td>
                                                        <td>{{ flat.typeLogement.nom }}</td>
                                                        <td>{{ flat.surface }} m<sup>2</sup></td>
                                                        <td>{{ flat.prix }} €</td>
                                                        {% if flat.statut %}
                                                            <td>
                                                                <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                                                   class="waves-effect waves-light btn btn-residence">Voir</a>
                                                            </td>
                                                        {% else %}
                                                            <td class="waves-effect waves-light btn btn-vendu">
                                                                <strong>Vendu</strong></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">{{ typeLogement[2].nom }}</div>
                                    <div class="collapsible-body">
                                        <table class="stripped">
                                            <thead>
                                            <tr>
                                                <th>Référence</th>
                                                <th>Type</th>
                                                <th>Surface</th>
                                                <th>Prix</th>
                                                <th>Fiche</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for flat in flats %}
                                                {% if flat.typeLogement.nom == typeLogement[2].nom %}
                                                    <tr>
                                                        <td>{{ flat.reference }}</td>
                                                        <td>{{ flat.typeLogement.nom }}</td>
                                                        <td>{{ flat.surface }} m<sup>2</sup></td>
                                                        <td>{{ flat.prix }} €</td>
                                                        {% if flat.statut %}
                                                            <td>
                                                                <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                                                   class="waves-effect waves-light btn btn-residence">Voir</a>
                                                            </td>
                                                        {% else %}
                                                            <td class="waves-effect waves-light btn btn-vendu">
                                                                <strong>Vendu</strong></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header">{{ typeLogement[3].nom }}</div>
                                    <div class="collapsible-body">
                                        <table class="stripped">
                                            <thead>
                                            <tr>
                                                <th>Référence</th>
                                                <th>Type</th>
                                                <th>Surface</th>
                                                <th>Prix</th>
                                                <th>Fiche</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for flat in flats %}
                                                {% if flat.typeLogement.nom == typeLogement[3].nom %}
                                                    <tr>
                                                        <td>{{ flat.reference }}</td>
                                                        <td>{{ flat.typeLogement.nom }}</td>
                                                        <td>{{ flat.surface }} m<sup>2</sup></td>
                                                        <td>{{ flat.prix }} €</td>
                                                        {% if flat.statut %}
                                                            <td>
                                                                <a href="{{ path('appartement', { 'id': flat.id }) }}"
                                                                   class="waves-effect waves-light btn btn-residence">Voir</a>
                                                            </td>
                                                        {% else %}
                                                            <td class="waves-effect waves-light btn btn-vendu">
                                                                <strong>Vendu</strong></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- début formulaire de contact -->
        <form method="post" action="">
            <div id="slide-out" class="side-nav">
                <div class="userView">
                    <h3 align="center">Contactez nous !</h3>
                    <h4 align="center">{{ telephone_number }}</h4>
                    {{ form_start(form) }}
                    <div class="row">

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}
                            {{ form_errors(form.nom) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom) }}
                            {{ form_errors(form.prenom) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">email</i>
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">phone</i>
                            {{ form_label(form.telephone) }}
                            {{ form_widget(form.telephone) }}
                            {{ form_errors(form.telephone) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">my_location</i>
                            {{ form_label(form.codePostal) }}
                            {{ form_widget(form.codePostal) }}
                            {{ form_errors(form.codePostal) }}
                        </div>

                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">location_on</i>
                            {{ form_label(form.ville) }}
                            {{ form_widget(form.ville) }}
                            {{ form_errors(form.ville) }}
                        </div>

                        <div class="input-field col l12 m12 s12">
                            <i class="material-icons prefix">my_location</i>
                            {{ form_label(form.adresse) }}
                            {{ form_widget(form.adresse) }}
                            {{ form_errors(form.adresse) }}
                        </div>

                        <div class="input-field col l12 m12 s12">
                            <p class="newsletter">Quel est l'objet de votre message?</p>
                            <i class="material-icons prefix">info_outline</i>

                            {{ form_widget(form.sujet) }}
                            {{ form_errors(form.sujet) }}
                        </div>

                        <div class="input-field col l12 m12 s12">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                            {{ form_errors(form.message) }}
                        </div>

                        <div class="row center">
                            <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                            {{ form_widget(form.newsletter) }}
                            {{ form_errors(form.newsletter) }}
                        </div>
                    </div>

                    <div class="input-field col l12 envoyer">
                        {{ form_row(form.envoyer) }}
                    </div>

                    {{ form_end(form) }}
                </div>

            </div>

        </form>

        <!--fin formulaire de contact-->


    <!--Partage reseaux sociaux-->
    <div class="container">
        <div class="row center">
            <p class="partage">Vous avez aimé cet appartement? N'hésitez pas à le partager à vos amis: </p>

            <div class="col l4 m4 s12">
                <div id="fb-root"></div>
                <div class="fb-share-button" data-href="{{ path('residences', { 'slug': residence.slug }) }}"
                     data-layout="button" data-size="large" data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank"
                       href="{{ absolute_url( path('residences', { 'slug': residence.slug }))|url_encode }}">Partager</a>
                </div>
            </div>

            <div class="col l4 m4 s12">
                <a class="waves-effect waves-light btn" href="mailto:?to= &subject=Appartement%20my%20Orleans">Envoyez à
                    un ami par mail </a>
            </div>
        </div>
    </div>
    <!--fin partage reseaux sociaux-->
{% endblock %}



    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/testcompteur.js') }}"></script>
        <script src="{{ asset('js/jquery.circliful.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/aos.js') }}"></script>
        <script>

            $(document).ready(function () {
                $('.collapsible').collapsible();
            });
        </script>
        <script type="text/javascript" src="{{ asset('js/socialmedia.js') }}"></script>
        <script>
            AOS.init();
            //formulaire de contact
            $('.button-collapse').sideNav({
                    edge: 'right', // Choose the horizontal origin
                    draggable: false, // Choose whether you can drag to open on touch screens
                    closeOnClick: true
                }
            );
        </script>
    {% endblock %}







