{% extends 'MyOrleansBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style_accueil.css') }}" media="screen,projection"/>
    <link href="{{ asset('css/residence.css') }}" rel="stylesheet" type="text/css"/>


{% endblock %}

{% block content %}
    <!--logo dde de documentation-->
    <div class="breadcrumb">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">message</i></a>
    </div>
    <!--fin logo dde de documentation-->
    <div class="content-residence">
        <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0"
                    allowfullscreen></iframe>

        </div>
        <div class="container">
            <div class="row">
                <div class="col offset-l1 l5 s10">
                    <a class="waves-effect waves-light btn"><i class="material-icons left">message</i>Demander la
                        documentation</a>
                </div>

                <div id="editor" class="col offset-l1 l5 s10">
                    <a class="waves-effect waves-light btn" href="{{ path('residence_pdf', { 'id': 1}) }}"><i id="cmd" class="material-icons left">print</i>Imprimer cette page</a>
                </div>
            </div>
            <div class="row">
                <div class="undervideo-residence">
                    <div class="col l6 s12">
                        <h2><span>Le Pryvé</span></h2>
                        <h2 class="lieu-residence">à St Pryvé St Mesmin</h2>
                    </div>
                    <div class="col l6 s12">
                        <table class="offre-residence">
                            <tr>
                                <td><strong>Offre du moment</strong><br/><span class="subtab-residence"><strong class="offre">Frais de notaires Offerts</strong></span></td>
                                <td><strong>Prix</strong><br/><span class="subtab-residence"><strong>à partir de 90 000 €</strong></span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Date de livraison</strong><br/><span class="subtab-residence"><strong>1er semèstre 2018</strong></span>
                                </td>
                                <td><strong>Nb. Pièces</strong><br/><span class="subtab-residence"><strong>du T1 au T5</strong></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-notesite">
                    <div class="row">
                    <li>
                        <li class="design col m3 s6">
                            <div class="notesite" id="note_0" data-note="9.30"></div><br/>
                            <div class="list-legend">
                                <div class="row center-align">
                                    <ul>
                                        <li class="design col m12">transports</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="content col m3 s6">
                            <div class="notesite" id="note_3" data-note="8.70"></div><br/>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">commerces</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="creativity col m3 s6">
                            <div class="notesite" id="note_1" data-note="9.80"></div>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">services</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="usability col m3 s6">
                            <div class="notesite" id="note_2" data-note="9.20"></div>
                            <div class="list-legend">
                                <div class="row">
                                    <ul>
                                        <li class="design col m12">esthétisme</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- pour les notes, on les rentre de BAS EN HAUT. celle du bas est donc transport, celle du haut esthétisme  -->
                    </ul>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <div class="rapel-residence text-justify">
                            <h3>La Residence</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="prestations-residence">
                            <h3>Les Prestations</h3>
                            <div class="row">
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s2 icon-prestation">
                                            <img class="icon-residence"
                                                 src="{{ absolute_url(asset('img/icons/Wheelchair_Accessible.png')) }}"
                                                 alt="acces handicape"/>
                                        </div>
                                        <div class="col s10 prestation">
                                            <p>Accessibiité</p>
                                        </div>

                                        <div class="col s2 icon-prestation">
                                            <img class="icon-residence"
                                                 src="{{ absolute_url(asset('img/icons/shopping-cart.png')) }}"
                                                 alt="commerces"/>
                                        </div>
                                        <div class="col s10 prestation">
                                            <p>Commerces</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="row">
                                        <div class="col s2 icon-prestation">
                                            <img class="icon-residence"
                                                 src="{{ absolute_url(asset('img/icons/smoking_not_allowed.png')) }}"
                                                 alt="non fumeur"/>
                                        </div>
                                        <div class="col s10 prestation">
                                            <p>Non Fumeur</p>
                                        </div>
                                        <div class="col s2 icon-prestation">
                                            <img class="icon-residence"
                                                 src="{{ absolute_url(asset('img/icons/finance.png')) }}"
                                                 alt="éligibilité loi pinel"/>
                                        </div>
                                        <div class="col s10 prestation">
                                            <p>Eligible Loi Pinel</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hide-on-small-only">
                    <div id="map-residences"></div>
                    <script>
                        function initMap() {
                            var uluru = {lat: 47.9088035, lng: 1.8913519999999835};
                            var map = new google.maps.Map(document.getElementById('map-residences'), {
                                zoom: 15,
                                center: uluru
                            });
                            var marker = new google.maps.Marker({
                                position: uluru,
                                map: map
                            });
                        }
                    </script>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChaGGAaNFdi508AC8JBUs9rhjAOPNnyBU&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12">
                    <div class="citation-residence">
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        </p>
                        <p class="pinel-residence">
                            Eligible Loi Pinel
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>Nombre de logements disponibles : {{ freeFlat }}</h3>
                    <h3 class="consulter-residence">Consultez nos biens disponibles</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="accordeon-residence">
                        <ul class="collapsible popout" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">T1</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T1</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T1</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T1</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T2</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T2</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T2</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T2</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T3</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T3</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T3</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T3</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T4</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T4</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T4</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T4</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">T5</div>
                                <div class="collapsible-body">
                                    <table class="stripped">
                                        <thead>
                                        <tr>
                                            <th>Référence</th>
                                            <th>Type</th>
                                            <th>Surface</th>
                                            <th>Prix</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T4</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T4</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        <tr>
                                            <td>PRY13</td>
                                            <td>T4</td>
                                            <td>38m2</td>
                                            <td>130 700 €</td>
                                            <td><a class="waves-effect waves-light btn btn-residence">Voir</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- début formulaire de contact -->
    <form method="post" action="">
        <div id="slide-out" class="side-nav">
            <div class="userView">
                <h3 align="center">Contactez nous !</h3>
                <h4 align="center">{{ telephone_number }}</h4>
                {{ form_start(form) }}
                <div class="row">

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">phone</i>
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.codePostal) }}
                        {{ form_widget(form.codePostal) }}
                        {{ form_errors(form.codePostal) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">location_on</i>
                        {{ form_label(form.ville) }}
                        {{ form_widget(form.ville) }}
                        {{ form_errors(form.ville) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        {{ form_errors(form.adresse) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">info_outline</i>

                        {{ form_widget(form.sujet) }}
                        {{ form_errors(form.sujet) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>

                    <div class="row center">
                        <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                        {{ form_widget(form.newsletter) }}
                        {{ form_errors(form.newsletter) }}
                    </div>
                </div>

                <div class="input-field col l12">
                    {{ form_row(form.envoyer) }}
                </div>

                {{ form_end(form) }}
            </div>

        </div>

    </form>

    <!--fin formulaire de contact-->



{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/testcompteur.js') }}"></script>
    <script src="{{ asset('js/jquery.circliful.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/aos.js') }}"></script>
    <script>

        $(document).ready(function(){
            $('.collapsible').collapsible();
        });

        AOS.init();
        //formulaire de contact
        $('.button-collapse').sideNav({
                edge: 'right', // Choose the horizontal origin
                draggable: false, // Choose whether you can drag to open on touch screens
                closeOnClick: true
            }
        );

    </script>
{% endblock %}







