{% extends 'MyOrleansBundle:blog:layout_blog.html.twig' %}

{% block content %}

<div class="container-fluid margin-top-container">

    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('uploads/blog-header.jpg') }}"></div>
        <div class="header-blog center">
            <h2>IMMOBILIRAMA</h2>
            <h1>Toute l'actualité de l'immobilier neuf</h1>
            <p>Découvrez des dossiers thématiques, des conseils, des témoignages,... Lorem ipsum lorem ipsum lorem ipsum
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum vlorem ipsum vlorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        </div>
    </div>
    <div class="section white">
            <div class="row center">
                <h4>Recevoir les derniers articles</h4>
                <a href="#" data-activates="slide-out" class="waves-effect waves-light btn-large btn-newsletter button-collapse">
                    <i class="material-icons left">mode_edit</i>je m'abonne à la newsletter</a>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('uploads/blog-header-2.jpg') }}"></div>
    </div>

</div>

<div class="row titre-grid-articles">
    <h3><span>Les derniers articles</span></h3>
</div>

    <div class="row">

    {% for article in articles  %}
        <div class="col offset-s1 s10 l6 xl4">
            <div class="blockArticle center">
                <div class="imgArticle">
                    {% for media in article.medias if media.typeMedia.nom == 'image-cover' %}
                        <img src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_article_blog') }}" alt="photo illustration">
                    {% endfor %}
                </div>
                <div class="titreArticle">
                    <h4 class="white-text">{{ article.titre }}</h4>
                </div>
                <div class="infoArticle">
                    <h4 class="white-text">{{ article.titre }}</h4>
                    <p>{{ article.texte | truncate(20, true, '...') | raw }}</p>

                    {% for tag in article.tags  %}

                        <div class="chip">
                        {{ tag.nom }}
                    </div>
                    {% endfor %}

                    <div class="row lien-article">
                        <a href="{{ path("blog-article", {'slug': article.slug }) }}">LIRE L'ARTICLE</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

    <!-- début formulaire de contact -->
    <form method="post" action="">
        <div id="slide-out" class="side-nav">
            <div class="userView">
                <h3 align="center">Contactez nous !</h3>
                <h4 align="center">{{ telephone_number }}</h4>
                {{ form_start(form) }}
                <div class="row">

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">phone</i>
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.codePostal) }}
                        {{ form_widget(form.codePostal) }}
                        {{ form_errors(form.codePostal) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">location_on</i>
                        {{ form_label(form.ville) }}
                        {{ form_widget(form.ville) }}
                        {{ form_errors(form.ville) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        {{ form_errors(form.adresse) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <p class="newsletter">Quel est l'objet de votre message?</p>
                        <i class="material-icons prefix">info_outline</i>

                        {{ form_widget(form.sujet) }}
                        {{ form_errors(form.sujet) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>

                    <div class="row center">
                        <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                        {{ form_widget(form.newsletter) }}
                        {{ form_errors(form.newsletter) }}
                    </div>
                </div>

                <div class="input-field col l12 newsletter envoyer">
                    {{ form_row(form.envoyer) }}
                </div>

                {{ form_end(form) }}
            </div>

        </div>

    </form>

    <!--fin formulaire de contact-->

{% endblock content %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function () {

            $('.button-collapse').sideNav({
                    edge: 'right', // Choose the horizontal origin
                    draggable: false, // Choose whether you can drag to open on touch screens
                    closeOnClick: true
                }
            );
        });

    </script>



{% endblock javascripts %}

