{% extends 'MyOrleansBundle:blog:layout_blog.html.twig' %}

{% block content %}


<div class="container-fluid margin-top-container-article">

    <div class="row barre-recherche-article">

        <div class="col s6 offset-m3 m3">
            <div class="input-field col s12 center">
                <select>
                    <option value="" disabled selected>Thèmes</option>
                    <option value="1">Loi Pinel</option>
                    <option value="2">Défiscalisation</option>
                    <option value="3">Premier achat</option>
                </select>
            </div>
        </div>
        <div class="col s6 m3 center">
            <a class="waves-effect waves-light btn-large btn-newsletter"><i class="material-icons left">mode_edit</i>je m'abonne à la newsletter</a>
        </div>
    </div>

    <div class="row no-margin-bottom">
        {% for media in article.medias if media.typeMedia.nom == 'image-header' %}
        <img class="img-article" src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_header_article_blog') }}" alt="illustration article"/>
        {% endfor %}
    </div>

    <div class="container article-blog">

        <div class="row article-blog">
            <h1 class="titre-article">
                {{ article.titre }}
                <span class="tags">
                    {% for tag in article.tags %}
                        <div class="chip">
                            {{ tag.nom }}
                        </div>
                    {% endfor %}
                </span>
            </h1>
        </div>

        <div class="row">
            {{ article.texte }}
        </div>

        <hr class="separe">
        <!--Partage reseaux sociaux-->
        <div class="container">
            <div class="row center">
                <p class="partage">Vous avez aimé cet article? N'hésitez pas à le partager à vos amis: </p>
                <div class="col l4 m4 s12">
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?text=Hello%20world"
                       data-size="large">
                        Tweet</a>
                </div>

                <div class="col l4 m4 s12">

                    <div class="fb-share-button" data-href="{{ absolute_url( path('blog-article', { 'id': article.id }))}}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="{{ absolute_url( path('blog-article', { 'id': article.id }))|url_encode }}">Partager</a></div>
                </div>

                <div class="col l4 m4 s12">
                    <a class="waves-effect waves-light btn" href="mailto:?to= &subject=blog%20my%20Orleans">Envoyez à un ami par mail </a>

                </div>
            </div>
        </div>
        <!--fin partage reseaux sociaux-->
    </div>

    <div class="container-fluid">

        <div class="row suggestion-contenu">

            <div class="col s12 l4">
                <h3>L'opportunité du moment</h3>
                {{ render(controller('MyOrleansBundle:VignetteResidence:affichageResidenceSimplifie', {'id': residence.id })) }}
            </div>


            {% for article in articlesAssocies %}

                <div class="col s12 l4">
                    <div class="suggestion-article">
                        <h3>Sur le même sujet</h3>
                        <div class="blockArticle center">
                            <div class="imgArticle">
                                {% for media in article.medias if media.typeMedia.nom == "image-cover" %}
                                <img class="responsive-img" src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_article_blog') }}" alt="">
                                {% endfor %}
                            </div>
                            <div class="titreArticle">
                                <h4 class="white-text">{{ article.titre }}</h4>
                            </div>
                            <div class="infoArticle">
                                <h4 class="white-text">{{ article.titre }}</h4>
                                <p>{{ article.texte | truncate(20, true, '...') }}</p>

                                {% for tag in article.tags %}
                                <div class="chip">
                                    {{ tag.nom }}
                                </div>
                                {% endfor %}

                                <div class="row lien-article">
                                    <a href="{{ path('blog-article', { 'id': article.id }) }}">LIRE L'ARTICLE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

</div>




{% endblock content %}



