{% extends 'MyOrleansBundle:blog:layout_blog.html.twig' %}

{% block content %}


<div class="container-fluid margin-top-container-article">


    <div class="section white">
        <div class="row center">
            <h4>Recevoir les derniers articles</h4>
            <a href="#" data-activates="slide-out" class="waves-effect waves-light btn-large btn-newsletter button-collapse">
                <i class="material-icons left">mode_edit</i>je m'abonne à la newsletter</a>
        </div>
    </div>

    <div class="row no-margin-bottom">
        {% for media in article.medias if media.typeMedia.nom == 'image-header' %}
        <img class="img-article" src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_header_article_blog') }}" alt="illustration article"/>
        {% endfor %}
    </div>

    <div class="container article-blog">

        <div class="row article-blog">
            <h1 class="titre-article">
                {{ article.titre }}
                <span class="tags">
                    {% for tag in article.tags %}
                        <div class="chip">
                            {{ tag.nom }}
                        </div>
                    {% endfor %}
                </span>
            </h1>
        </div>

        <div class="row">
            {{ article.texte | raw }}
        </div>

        <hr class="separe">
        <!--Partage reseaux sociaux-->
        <div class="container">
            <div class="row center">
                <p class="partage">Vous avez aimé cet article? N'hésitez pas à le partager à vos amis: </p>

                <div class="col l4 m4 s12">
                    <div id="fb-root"></div>
                    <div class="fb-share-button" data-href="{{ path('blog-article', { id:article.id, 'slug': article.slug })}}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="{{ absolute_url( path('blog-article', { 'slug': article.slug }))|url_encode }}">Partager</a></div>
                </div>

                <div class="col l4 m4 s12">
                    <a class="waves-effect waves-light btn" href="mailto:?to= &subject=blog%20my%20Orleans">Envoyez à un ami par mail </a>

                </div>
            </div>
        </div>
        <!--fin partage reseaux sociaux-->
    </div>

    <div class="container-fluid">

        <div class="row suggestion-contenu">

            <div class="col s12 l4">
                <h3>L'opportunité du moment</h3>
                {{ render(controller('MyOrleansBundle:VignetteResidence:affichageResidenceSimplifie', {'id': residence.id })) }}
            </div>


            {% for article in articlesAssocies %}

                <div class="col s12 l4">
                    <div class="suggestion-article">
                        <h3>Sur le même sujet</h3>
                        <div class="blockArticle center">
                            <div class="imgArticle">
                                {% for media in article.medias if media.typeMedia.nom == "image-cover" %}
                                <img class="responsive-img" src="{{ asset('uploads/'~media.lien) | imagine_filter('thumb_article_blog') }}" alt="">
                                {% endfor %}
                            </div>
                            <div class="titreArticle">
                                <h4 class="white-text">{{ article.titre }}</h4>
                            </div>
                            <div class="infoArticle">
                                <h4 class="white-text">{{ article.titre }}</h4>
                                <p>{{ article.texte | truncate(20, true, '...') | raw }}</p>

                                {% for tag in article.tags %}
                                <div class="chip">
                                    {{ tag.nom }}
                                </div>
                                {% endfor %}

                                <div class="row lien-article">
                                    <a href="{{ path('blog-article', { 'slug': article.slug }) }}">LIRE L'ARTICLE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

    <!-- début formulaire de contact -->
    <form method="post" action="">
        <div id="slide-out" class="side-nav">
            <div class="userView">
                <h3 align="center">Contactez nous !</h3>
                <h4 align="center">{{ telephone_number }}</h4>
                {{ form_start(form) }}
                <div class="row">

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">email</i>
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">phone</i>
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.codePostal) }}
                        {{ form_widget(form.codePostal) }}
                        {{ form_errors(form.codePostal) }}
                    </div>

                    <div class="input-field col l6 m6 s12">
                        <i class="material-icons prefix">location_on</i>
                        {{ form_label(form.ville) }}
                        {{ form_widget(form.ville) }}
                        {{ form_errors(form.ville) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">my_location</i>
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse) }}
                        {{ form_errors(form.adresse) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <p class="newsletter">Quel est l'objet de votre message?</p>
                        <i class="material-icons prefix">info_outline</i>

                        {{ form_widget(form.sujet) }}
                        {{ form_errors(form.sujet) }}
                    </div>

                    <div class="input-field col l12 m12 s12">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>

                    <div class="row center">
                        <p class="newsletter">Je souhaite m'abonner à la newsletter?</p>

                        {{ form_widget(form.newsletter) }}
                        {{ form_errors(form.newsletter) }}
                    </div>
                </div>

                <div class="input-field col l12 newsletter envoyer">
                    {{ form_row(form.envoyer) }}
                </div>

                {{ form_end(form) }}
            </div>

        </div>

    </form>

    <!--fin formulaire de contact-->

{% endblock content %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function () {

            $('.button-collapse').sideNav({
                    edge: 'right', // Choose the horizontal origin
                    draggable: false, // Choose whether you can drag to open on touch screens
                    closeOnClick: true
                }
            );
        });

    </script>



{% endblock javascripts %}



