{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Basic stylesheet -->
    <link rel="stylesheet" href="{{ asset('owlcarousel/assets/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('owlcarousel/assets/owl.carousel.css') }}">
    <!-- Default Theme -->
    <link rel="stylesheet" href="{{ asset('owlcarousel/assets/owl.theme.default.css') }}">
    <link rel="stylesheet" href="{{ asset('css/stylesheet_blog.css') }}" media="screen,projection"/>

{% endblock %}


{% block body %}
    <title>{% block title %}BLOG | My-Orléans.com{% endblock %}</title>
<div class="container-fluid">

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{ path('homeblog') }}" class="brand-logo"><img src="{{ asset('img/logo_myorleans.png') }}" alt="logo de l'entreprise"/></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Premier achat</a></li>
                    <li><a href="#">Défiscalisation</a></li>
                    <li><a href="#">Investissement</a></li>
                    <li><a href="#">Démarches</a></li>
                </ul>
            </div>
        </nav>
    </div>



    {% block content %}

    {% endblock content %}



    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div class="row no-margin-bottom">
                        <h5 class="white-text">Suivez-nous</h5>
                    </div>
                    <div class="row">
                        <div class="col s1">
                            <a href="#">
                                <div class="social-btn">
                                    <i class="fa fa-facebook fa-3x fb-social" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col offset-s1 s1">
                            <a href="#">
                                <div class="social-btn">
                                    <i class="fa fa-twitter fa-3x icon-social" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col offset-s1 s1">
                            <a href="#">
                                <div class="social-btn">
                                    <i class="fa fa-youtube fa-3x icon-social" aria-hidden="true"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col l5 offset-l1 s12 footer-right-side">
                    <h5 class="white-text">Contactez-nous</h5>
                    <p class="p-footer-phone no-margin-bottom"><span><i class="small material-icons align-icon">phone</i></span>02 38 75 94
                        47</p>
                    <p class="p-footer"><span><i class="small material-icons align-icon">location_on</i></span>13,
                        rue Bannier 45000 Orléans</p>
                    <p class="p-footer"><span><i class="small material-icons align-icon">email</i></span><a
                                href="#!">agence@my-orleans.com</a></p>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row row-ml">
                    <div class="col s2">
                        <p>© 2017 My-Orléans</p>
                    </div>
                    <div class="col s8 center">
                        <p><a class="grey-text text-lighten-4 ml-padding-right" href="#!">Mentions légales</a>
                            <a class="grey-text text-lighten-4" href="#!">Frais et honoraires de gestion</a></p>
                    </div>
                    <div class="col s2">
                        <p><a class="grey-text text-lighten-4" href="#!">Wild Code School</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
{% endblock body %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('owlcarousel/owl.carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script_blog.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/socialmedia.js') }}"></script>


{% endblock javascripts %}