{% extends '::layout_admin.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Liste de vos résidences</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Codepostal</th>
                                <th>Ville</th>
                                <th>Quartier</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Datelivraison</th>
                                <th>Favoris</th>
                                <th>Accroche</th>
                                <th>Offre</th>
                                <th>Aperçu</th>
                                <th>Éditer</th>
                                <th>Biens</th>
                                </thead>
                                <tbody>

                                {% for residence in residences %}

                                    <tr>
                                        <td><a href="{{ path('admin_residence_show', { 'id': residence.id }) }}">{{ residence.id }}</a></td>
                                        <td>{{ residence.nom }}</td>
                                        <td>{{ residence.adresse }}</td>
                                        <td>{{ residence.codePostal }}</td>
                                        {% if residence.ville.nom is defined %}
                                            <td>{{ residence.ville.nom }}</td>
                                        {% else %}
                                            <td>  </td>
                                        {% endif %}
                                        {% if residence.quartier.nom is defined %}
                                            <td>{{ residence.quartier.nom }}</td>
                                        {% else %}
                                            <td>  </td>
                                        {% endif %}
                                        <td>{{ residence.latitude }}</td>
                                        <td>{{ residence.longitude }}</td>
                                        <td>{{ residence.dateLivraison }}</td>
                                        <td>{{ residence.favoris }}</td>
                                        <td>{{ residence.accroche }}</td>
                                        <td>{{ residence.offre }}</td>
                                        <td>
                                            <a href="{{ path('admin_residence_show', { 'id': residence.id }) }}"><i
                                                        class="material-icons">remove_red_eye</i></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_residence_edit', { 'id': residence.id }) }}"><i
                                                        class="material-icons">build</i></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_flat_index', {'id':residence.id}) }}">
                                                <i class="material-icons">business</i>
                                                <span data-badge-caption="" class="new badge">{{ residence.flats|length }}</span>
                                            </a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <hr>
                            <div class="navigation center">
                                {{ knp_pagination_render(residences, 'MyOrleansBundle::pagination.html.twig') }}
                            </div>
                            <ul>
                                <li>

                                    <a href="{{ path('admin_residence_new') }}"
                                       class="btn-floating btn-large waves-effect waves-light light-green"><i
                                                class="material-icons">add</i>Ajouter une
                                        résidence</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}