{% extends 'base.html.twig' %}

{% block body %}
    <h1>Residence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ residence.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ residence.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ residence.adresse }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ residence.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ residence.ville }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ residence.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ residence.longitude }}</td>
            </tr>
            <tr>
                <th>Datelivraison</th>
                <td>{% if residence.dateLivraison %}{{ residence.dateLivraison|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ residence.description }}</td>
            </tr>
            <tr>
                <th>Nbtotallogements</th>
                <td>{{ residence.nbTotalLogements }}</td>
            </tr>
            <tr>
                <th>Notetransports</th>
                <td>{{ residence.noteTransports }}</td>
            </tr>
            <tr>
                <th>Notecommerces</th>
                <td>{{ residence.noteCommerces }}</td>
            </tr>
            <tr>
                <th>Noteservices</th>
                <td>{{ residence.noteServices }}</td>
            </tr>
            <tr>
                <th>Noteesthetisme</th>
                <td>{{ residence.noteEsthetisme }}</td>
            </tr>
            <tr>
                <th>Favoris</th>
                <td>{{ residence.favoris }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('residence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('residence_edit', { 'id': residence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
