{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prestum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestum.id }}</td>
            </tr>
            <tr>
                <th>Nompresta</th>
                <td>{{ prestum.nomPresta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_presta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_presta_edit', { 'id': prestum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
