{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets-admin/css/style_admin.css') }}" rel="stylesheet"/>
    <!-- Bootstrap core CSS     -->
    <link href="{{ asset('assets-admin/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!--  Material Dashboard CSS    -->
    <link href="{{ asset('assets-admin/css/material-dashboard.css') }}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ asset('assets-admin/css/demo.css') }}" rel="stylesheet"/>
{% endblock %}


    {% block body %}
        <div class="wrapper">

            {% block navbar %}
            <div class="sidebar" data-color="green" data-image="{{ asset('img/unnamed3.jpg') }}">

                <div class="logo">
                    <a href="#" class="simple-text">
                        <img class="logo" src="{{ asset('img/logo_myorleans.png') }}" alt="logo de l'entreprise"
                             height="80px"/><br>
                    </a>
                </div>

                <div class="sidebar-wrapper">
                    <ul class="nav collapsible collapsible-accordion" data-collapsible="accordion">
                        <li>
                            <div class="active collapsible-header"><a href="{{ path("admin_home") }}">
                                    <i class="material-icons">dashboard</i>
                                    <p>Accueil</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Administration des biens <i
                                        class="material-icons">settings</i></div>
                            <div class="collapsible-body">
                                <a href="{{ path("admin_residence_index") }}">

                                    <p>Résidences</p>
                                </a><br>
                                <a href="{{ path("admin_flat_index") }}">

                                    <p>Biens</p>
                                </a><br>
                                <a href="{{ path("admin_prestation_index") }}">

                                    <p>Prestations</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Administration du site <i class="material-icons">lock</i>
                            </div>
                            <div class="collapsible-body">
                                <a href="{{ path("admin_article_index") }}">
                                    <p>Articles</p>
                                </a><br>
                                <a href="{{ path("admin_evenement_index") }}">
                                    <p>Événements</p>
                                </a><br>
                                <a href="{{ path("admin_service_index") }}">
                                    <p>Services</p>
                                </a><br>
                                <a href="{{ path("admin_pack_index") }}">
                                    <p>Packs</p>
                                </a><br>
                                <a href="{{ path("admin_client_index") }}">
                                    <p>Clients</p>
                                </a><br>
                                <a href="{{ path("admin_collaborateur_index") }}">
                                    <p>Membres de l'agence</p>
                                </a><br>
                                <a href="{{ path("admin_partenaire_index") }}">
                                    <p>Partenaires</p>
                                </a><br>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-transparent navbar-absolute">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                    </div>
                </nav>
                {% endblock %}

                {% block content %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}


        {% block javascripts %}
            {{ parent() }}
            <!--   Core JS Files   -->
            <script src="{{ asset('assets-admin/js/material.min.js') }}" type="text/javascript"></script>

            <!--  Charts Plugin -->
            <script src="{{ asset('assets-admin/js/chartist.min.js') }}"></script>

            <!--  Notifications Plugin    -->
            <script src="{{ asset('assets-admin/js/bootstrap-notify.js') }}"></script>

            <!-- Material Dashboard javascript methods -->
            <script src="{{ asset('assets-admin/js/material-dashboard.js') }}"></script>

            <!-- Material Dashboard DEMO methods, don't include it in your project! -->
            <script src="{{ asset('assets-admin/js/demo.js') }}"></script>

            <script type="text/javascript">
                $(document).ready(function () {

                    // Javascript method's body can be found in assets/js/demos.js
                    demo.initDashboardPageCharts();
                    $('select').material_select();

                });


                $(document).ready(function () {
                    $('.collapsible').collapsible();
                });
            </script>

        {% endblock %}