{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets-admin/css/style_admin.css') }}" rel="stylesheet"/>
    <!-- Bootstrap core CSS     -->
    <link href="{{ asset('assets-admin/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!--  Material Dashboard CSS    -->
    <link href="{{ asset('assets-admin/css/material-dashboard.css') }}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ asset('assets-admin/css/demo.css') }}" rel="stylesheet"/>
{% endblock %}


    {% block body %}
        <div class="wrapper">

            {% block navbar %}
            <div class="sidebar" data-color="green" data-image="{{ asset('img/unnamed3.jpg') }}">

                <div class="logo">
                    <a href="#" class="simple-text">
                        <img class="logo" src="{{ asset('img/logo_myorleans.png') }}" alt="logo de l'entreprise"
                             height="80px"/><br>
                    </a>
                </div>

                <div class="sidebar-wrapper">
                    <ul class="nav collapsible collapsible-accordion" data-collapsible="accordion">
                        <li>
                            <div class="active collapsible-header"><a href="{{ path("admin_home") }}">
                                    <i class="material-icons">dashboard</i>
                                    <p>Accueil</p>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Administration des biens <i
                                        class="material-icons">settings</i></div>
                            <div class="collapsible-body">
                                <a href="{{ path("admin_residence_index") }}">
                                    <p>Résidences</p>
                                </a>
                                <a href="{{ path("admin_ville_index") }}">
                                    <p>Villes</p>
                                </a>
                                <a href="{{ path("admin_prestation_index") }}">
                                    <p>Prestations</p>
                                </a>
                                <a href="{{ path("admin_categorie-presta_index") }}">
                                    <p>Catégorie prestation</p>
                                </a>
                                <a href="{{ path("admin_typepresta_index") }}">
                                    <p>Types de prestation</p>
                                </a>

                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Administration du site <i class="material-icons">lock</i>
                            </div>
                            <div class="collapsible-body">
                                <a href="{{ path("admin_article_index") }}">
                                    <p>Articles</p>
                                </a><br>
                                <a href="{{ path("admin_evenement_index") }}">
                                    <p>Événements</p>
                                </a><br>
                                <a href="{{ path("admin_service_index") }}">
                                    <p>Services</p>
                                </a><br>
                                <a href="{{ path("admin_pack_index") }}">
                                    <p>Packs</p>
                                </a><br>
                                <a href="{{ path("admin_client_index") }}">
                                    <p>Clients</p>
                                </a><br>
                                <a href="{{ path("admin_temoignage_index") }}">
                                    <p>Témoignages</p>
                                </a><br>
                                <a href="{{ path("admin_collaborateur_index") }}">
                                    <p>Membres de l'agence</p>
                                </a><br>
                                <a href="{{ path("admin_partenaire_index") }}">
                                    <p>Partenaires</p>
                                </a><br>
                            </div>
                        </li>
                        <hr>
                        <li>
                            <div class="active collapsible-header">
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="material-icons">power_settings_new</i>
                                    <p>Déconnexion</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-transparent navbar-absolute">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                    </div>
                </nav>
                {% endblock %}

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block content %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}


        {% block javascripts %}
            {{ parent() }}

            <!--  Charts Plugin -->
            <script src="{{ asset('assets-admin/js/chartist.min.js') }}"></script>

            <!--  Notifications Plugin    -->
            <script src="{{ asset('assets-admin/js/bootstrap-notify.js') }}"></script>

            <script type="text/javascript" src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>

            <script>CKEDITOR.replace( textarea )</script>

            <script type="text/javascript">
                $(document).ready(function () {

                    // Javascript method's body can be found in assets/js/demos.js
                    demo.initDashboardPageCharts();
                    $('select').material_select();

                    $('.collapsible').collapsible();

                    $('#alert_close').click(function(){
                        $( "#alert_box" ).fadeOut( "slow", function() {
                        });
                    });
                });
            </script>

        {% endblock %}