{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quartiers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quartier in quartiers %}
            <tr>
                <td><a href="{{ path('admin_quartier_show', { 'id': quartier.id }) }}">{{ quartier.id }}</a></td>
                <td>{{ quartier.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_quartier_show', { 'id': quartier.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_quartier_edit', { 'id': quartier.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_quartier_new') }}">Create a new quartier</a>
        </li>
    </ul>
{% endblock %}
