{% extends 'MyOrleansBundle:Default:index.html.twig' %}

{% block content %}
    <h2 class="subtitle fancy"><span>Nos services</span></h2>

<div class="container">

    <!--premier block-->

    <div class="row">
        <div class="col s12 m6 l6">
          <div data-aos="fade-up-right">
            <h3>Location</h3>
            <p>Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam,
                ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur,
                an quaedam altiora meditantis iam Galli secreta susceperint scripta,
                qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim
                petit exindeque per protectores retractus artissime tenebatur.</p>
              <a href="#">Demander la documentation</a>
        </div>
        </div>

        <div class="col s12 m6 l6">
        <div data-aos="fade-up-left">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OFE0Z6r--7E" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
    </div>
    </div>

    <!--fin premier block-->

    <!--deuxième block-->

    <div class="row">
        <div class="col s12 m6 l6">
            <div data-aos="fade-up-left">
              <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OFE0Z6r--7E" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
        </div>

        <div class="col s12 m6 l6">
            <div data-aos="fade-up-right">
                <h3>Gestion immobilière</h3>
                <p>Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam,
                    ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur,
                    an quaedam altiora meditantis iam Galli secreta susceperint scripta,
                    qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim
                    petit exindeque per protectores retractus artissime tenebatur.</p>
                <a href="#">Demander la documentation</a>
            </div>
        </div>
    </div>

    <!--fin deuxième block-->

    <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>

    <!-- Tap Target Structure -->
    <div class="tap-target" data-activates="menu">
        <div class="tap-target-content">
            <h5>Title</h5>
            <p>A bunch of text</p>
        </div>
    </div>


    <!--troisième block-->
    <h2 class="subtitle fancy"><span>Nos packs</span></h2>
<div class="packs">
            <div class="row">
                    <div class="col m6 s12 l4">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('img/pack4.jpg') }}" alt="logo de l'entreprise" />

                                <span class="card-title">Pack Sérénité</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>

                <div class="col m6 s12 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ asset('img/pack5.jpg') }}" alt="logo de l'entreprise" />

                            <span class="card-title">Pack Confiance</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>

                <div class="col m6 s12 l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ asset('img/pack6.jpg') }}" alt="logo de l'entreprise" />

                            <span class="card-title">Pack VIP</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                    </div>
                </div>

                </div>
</div>

    <!--fin troisième block-->

<!--quatrième block-->
      <div class="row">
          <h2 class="subtitle fancy"><span>Nos derniers témoignages</span></h2>

          <div class="col s12 m6 l6">
              <h3>Vente</h3>
              <p>Iamque non umbratis fallaciis res agebatur,
                  sed qua palatium est extra muros, armatis omne circumdedit.
                  ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica
                  texit et paludamento communi, eum post haec nihil passurum velut mandato
                  principis iurandi crebritate confirmans et statim inquit exsurge et inopinum
                  carpento privato inpositum ad Histriam duxit prope oppidum Polam, ubi quondam
                  peremptum Constantini filium accepimus Crispum.</p>

              <div class="auteur">
                  <p>M John Doe, Client depuis 2017</p>
              </div>
          </div>

          <div class="col s12 m6 l6">
              <h3>Location</h3>
              <p>Iamque non umbratis fallaciis res agebatur,
                  sed qua palatium est extra muros, armatis omne circumdedit.
                  ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica
                  texit et paludamento communi, eum post haec nihil passurum velut mandato
                  principis iurandi crebritate confirmans et statim inquit exsurge et inopinum
                  carpento privato inpositum ad Histriam duxit prope oppidum Polam, ubi quondam
                  peremptum Constantini filium accepimus Crispum.</p>

              <div class="auteur">
                  <p>M John Doe, Client depuis 2017</p>
              </div>

          </div>
      </div>

</div>

   {% block javascripts %}

       {{ parent() }}
       <script type="text/javascript" src="{{ asset('js/aos.js') }}"></script>
       <script>
           AOS.init();
           $('.tap-target').tapTarget('open');
           $('.tap-target').tapTarget('close');

       </script>
       {% endblock %}
{% endblock %}