{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Modifier ce membre</h4>
                        </div>
                        <div class="card-content table-responsive">

<<<<<<< HEAD
    <ul>
        <li>
            <a href="{{ path('admin_collaborateur_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
=======
                            {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}
                            <input class="waves-effect waves-light btn-large light-green" type="submit" value="Edit"/>
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('collaborateur_index') }}"><i class="material-icons">keyboard_return</i>Retour à la liste des membres</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete" class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
>>>>>>> 8ddd01b11fbe0d8f81868096f5b9e58d8350b48a
{% endblock %}
