{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Modifier cette ville</h4>
                        </div>
                        <div class="card-content table-responsive">

                            {{ form_start(edit_form) }}
                            {{ form_label(edit_form.nom, "Nom de la ville:") }}
                            {{ form_widget(edit_form.nom) }}
                            <input class="waves-effect waves-light btn-large light-green" type="submit" value="Modifier"/>
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('admin_ville_index') }}"><i class="material-icons">keyboard_return</i>Retour
                                        à la liste des villes</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Supprimer"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}