{% extends 'base.html.twig' %}

{% block body %}
    <h1>Temoignages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Theme</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for temoignage in temoignages %}
            <tr>
                <td><a href="{{ path('admin_temoignage_show', { 'id': temoignage.id }) }}">{{ temoignage.id }}</a></td>
                <td>{{ temoignage.theme }}</td>
                <td>{{ temoignage.auteur }}</td>
                <td>{{ temoignage.date }}</td>
                <td>{{ temoignage.message }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_temoignage_show', { 'id': temoignage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_temoignage_edit', { 'id': temoignage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_temoignage_new') }}">Create a new temoignage</a>
        </li>
    </ul>
{% endblock %}
