{% extends 'base.html.twig' %}

{% block body %}
    <h1>Temoignage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temoignage.id }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ temoignage.theme }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ temoignage.auteur }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ temoignage.date }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ temoignage.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_temoignage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_temoignage_edit', { 'id': temoignage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
