{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Modifier ce partenaire</h4>
                        </div>
                        <div class="card-content table-responsive">

                            {{ form_start(edit_form) }}
                            {{ form_label(edit_form.nom, 'Nom du partenaire:') }}
                            {{ form_widget(edit_form.nom) }}
                            {{ form_label(edit_form.url, 'Url du site web:') }}
                            {{ form_widget(edit_form.url) }}
                            {% if partenaire.media.lien is defined %}

                                <p class="imgUploader"><img class="responsive-img"
                                                            src="{{ asset('uploads/'~partenaire.media.lien) }}"
                                                            alt="{{ partenaire.nom }}"/>
                                    <a href="{{ path('partenaire_media_delete', {"id" : partenaire.id}) }}">Supprimer</a>
                                </p>
                            {% else %}
                                <h3>Veuillez charger une nouvelle image.</h3>
                                <p>N'oubliez pas de renseigner la page sur laquelle vous êtes ainsi que le type du media.</p>
                                {{ form_widget(edit_form.media) }}
                            {% endif %}
                            <input class="waves-effect waves-light btn-large light-green" type="submit" value="Edit"/>
                            {{ form_widget(edit_form._token) }}
                            </form>

                            <ul>
                                <li>
                                    <a href="{{ path('admin_partenaire_index') }}"><i class="material-icons">keyboard_return</i>Retour à la liste des partenaires</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete" class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
