{% extends '::layout_admin.html.twig' %}

<<<<<<< HEAD
{% block body %}
    <h1>Clients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Newsletter</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.codePostal }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.newsletter }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('client_show', { 'id': client.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('client_edit', { 'id': client.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_new') }}">Create a new client</a>
        </li>
    </ul>
=======
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Liste de vos clients</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Telephone</th>
                                <th>Adresse</th>
                                <th>Codepostal</th>
                                <th>Ville</th>
                                <th>Newsletter</th>
                                <th>Aperçu</th>
                                <th>Éditer</th>
                                </thead>
                                <tbody>

                                {% for client in clients %}

                                    <tr>
                                        <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                                        <td>{{ client.nom }}</td>
                                        <td>{{ client.prenom }}</td>
                                        <td>{{ client.email }}</td>
                                        <td>{{ client.telephone }}</td>
                                        <td>{{ client.adresse }}</td>
                                        <td>{{ client.codePostal }}</td>
                                        <td>{{ client.ville }}</td>
                                        <td>{{ client.newsletter }}</td>
                                        <td>
                                            <a href="{{ path('client_show', { 'id': client.id }) }}"><i
                                                        class="material-icons">remove_red_eye</i></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('client_edit', { 'id': client.id }) }}"><i
                                                        class="material-icons">build</i></a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <hr>
                            <ul>
                                <li>

                                    <a href="{{ path('client_new') }}" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">create</i>Ajouter un
                                        client</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

>>>>>>> sprint3
{% endblock %}
