{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeprestas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Ordre</th>
                <th>Ordreaffichage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typePrestum in typePrestas %}
            <tr>
                <td><a href="{{ path('typepresta_show', { 'id': typePrestum.id }) }}">{{ typePrestum.id }}</a></td>
                <td>{{ typePrestum.type }}</td>
                <td>{{ typePrestum.ordre }}</td>
                <td>{{ typePrestum.ordreAffichage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typepresta_show', { 'id': typePrestum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typepresta_edit', { 'id': typePrestum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typepresta_new') }}">Create a new typePrestum</a>
        </li>
    </ul>
{% endblock %}
