{% extends '::layout_admin.html.twig' %}

{% block body %}
    <h1>Categorieprestas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcategorie</th>
                <th>Ordreaffichage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoriePrestum in categoriePrestas %}
            <tr>
                <td><a href="{{ path('admin_categorie-presta_show', { 'id': categoriePrestum.id }) }}">{{ categoriePrestum.id }}</a></td>
                <td>{{ categoriePrestum.nomCategorie }}</td>
                <td>{{ categoriePrestum.ordreAffichage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_categorie-presta_show', { 'id': categoriePrestum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_categorie-presta_edit', { 'id': categoriePrestum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_categorie-presta_new') }}">Create a new categoriePrestum</a>
        </li>
    </ul>
{% endblock %}


{% extends '::layout_admin.html.twig' %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Catégories des prestations</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nomcategorie</th>
                                    <th>Ordreaffichage</th>
                                    <th>Aperçu</th>
                                    <th>Éditer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for categoriePrestum in categoriePrestas %}
                                    <trtd><a href="{{ path('admin_categorie-presta_show', { 'id': categoriePrestum.id }) }}">{{ categoriePrestum.id }}</a></td>
                                        <td>{{ categoriePrestum.nomCategorie }}</td>
                                        <td>{{ categoriePrestum.ordreAffichage }}</td>
                                        <td>
                                            <a href="{{ path('admin_client_show', { 'id': client.id }) }}"><i
                                                        class="material-icons">remove_red_eye</i></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_client_edit', { 'id': client.id }) }}"><i
                                                        class="material-icons">build</i></a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <hr>
                            <ul>
                                <li>

                                    <a href="{{ path('admin_client_new') }}" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">create</i>Ajouter un
                                        client</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
