{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorieprestas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoriePrestum in categoriePrestas %}
            <tr>
                <td><a href="{{ path('categoriepresta_show', { 'id': categoriePrestum.id }) }}">{{ categoriePrestum.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categoriepresta_show', { 'id': categoriePrestum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categoriepresta_edit', { 'id': categoriePrestum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoriepresta_new') }}">Create a new categoriePrestum</a>
        </li>
    </ul>
{% endblock %}
