{% extends '::layout_admin.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Liste des types d'article</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Aperçu</th>
                                <th>Éditer</th>
                                </thead>
                                <tbody>

                                {% for typelogement in typelogements %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_typelogement_show', { 'id': typeLogement.id }) }}">{{ typeLogement.id }}</a>
                                    </td>
                                    <td>{{ typelogement.nom }}</td>
                                    <td>
                                        <a href="{{ path('admin_typelogement_show', { 'id': typeLogement.id }) }}"><i
                                                    class="material-icons">remove_red_eye</i></a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_typelogement_edit', { 'id': typeLogement.id }) }}"><i
                                                    class="material-icons">build</i></a>
                                    </td>
                                </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <hr>
                            <ul>
                                <li>

                                    <a href="{{ path('admin_typelogement_new') }}"
                                       class="btn-floating btn-large waves-effect waves-light light-green"><i
                                                class="material-icons">add</i>Ajouter un type de logement</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}