{% extends '::layout_admin.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Modifier cet événement</h4>
                        </div>
                        <div class="card-content table-responsive">
                            {{ form_start(edit_form) }}
                            {{ form_label(edit_form.nom, "Nom de l'évènement:") }}
                            {{ form_widget(edit_form.nom) }}
                            {{ form_label(edit_form.ville, 'Lieu/Ville: ') }}
                            {{ form_widget(edit_form.ville) }}
                            {{ form_label(edit_form.codePostal, 'Code Postal: ') }}
                            {{ form_widget(edit_form.codePostal) }}
                            {{ form_label(edit_form.dateDebut, 'Date de début: ') }}
                            {{ form_widget(edit_form.dateDebut) }}
                            {{ form_label(edit_form.heureDebut, 'Heure de début: ') }}
                            {{ form_widget(edit_form.heureDebut) }}
                            {{ form_label(edit_form.dateFin, 'Date de fin: ') }}
                            {{ form_widget(edit_form.dateFin) }}
                            {{ form_label(edit_form.heureFin, 'Heure de fin: ') }}
                            {{ form_widget(edit_form.heureFin) }}
                            {{ form_label(edit_form.description, 'Description: ') }}
                            {{ form_widget(edit_form.description) }}


                            {% for media in evenement.medias %}
                                {% if media.id != null %}
                                    <p class="imgUploader"><img class="responsive-img"
                                                                src="{{ asset('uploads/'~media.lien) }}"/>
                                        <a href="{{ path('evenement_media_delete', {"id" : media.id}) }}">Supprimer</a>
                                    </p>
                                {% else %}
                                    <h3>Veuillez charger une nouvelle image.</h3>
                                    <p>N'oubliez pas de renseigner la page sur laquelle vous êtes ainsi que le type du
                                        media.</p>
                                    {{ form_widget(edit_form.medias) }}
                                {% endif %}
                            {% endfor %}
                            <a href="#" id="add-another-media">Ajouter un média</a>
                            <input class="waves-effect waves-light btn-large light-green" type="submit" value="Edit"/>
                            {{ form_widget(edit_form._token) }}
                            </form>

                            <ul>
                                <li>
                                    <a href="{{ path('admin_evenement_index') }}"><i
                                                class="material-icons">keyboard_return</i>Retour à la liste des
                                        événements</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var mediaCount = '{{ edit_form.medias|length }}';

        jQuery(document).ready(function () {
            jQuery('#add-another-media').click(function (e) { // appbundle_products_add-product
                e.preventDefault();
                var mediaList = jQuery('#{{ edit_form.medias.vars.id }}');

                var newWidget = mediaList.attr('data-prototype');
                newWidget = newWidget.replace(/<label class="control-label required">__name__label__<\/label>/g, '');
                newWidget = newWidget.replace(/__name__/g, mediaCount);
                mediaCount++;
                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(mediaList);

            });
        })
    </script>
{% endblock %}