{% extends '::layout_admin.html.twig' %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">{{ evenement.nom }}</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ evenement.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ evenement.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ evenement.adresse }}</td>
                                </tr>
                                <tr>
                                    <th>Codepostal</th>
                                    <td>{{ evenement.codePostal }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ evenement.ville }}</td>
                                </tr>
                                <tr>
                                    <th>Datedebut</th>
                                    <td>{% if evenement.dateDebut %}{{ evenement.dateDebut|date('j-m-Y') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Datefin</th>
                                    <td>{% if evenement.dateFin %}{{ evenement.dateFin|date('j-m-Y') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Heuredebut</th>
                                    <td>{% if evenement.heureDebut %}{{ evenement.heureDebut|date('H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Heurefin</th>
                                    <td>{% if evenement.heureFin %}{{ evenement.heureFin|date('H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ evenement.description }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_evenement_index') }}"><i
                                                class="material-icons">keyboard_return</i>Retour à la liste des
                                        événements</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_evenement_edit', { 'id': evenement.id }) }}"><i
                                                class="material-icons">build</i>Éditer cet événement</a>
                                </li>

                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete"
                                           class="waves-effect waves-light btn-large red pull-right">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
