{% extends 'base.html.twig' %}

{% block body %}
    <h1>Services list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('admin_service_show', { 'id': service.id }) }}">{{ service.id }}</a></td>
                <td>{{ service.type }}</td>
                <td>{{ service.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_service_show', { 'id': service.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_service_edit', { 'id': service.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_service_new') }}">Create a new service</a>
        </li>
    </ul>
{% endblock %}
