{% extends '::layout_admin.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header light-green">
                            <h4 class="title">Liste de vos services</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text">
                                <th>Id</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Aperçu</th>
                                <th>Éditer</th>
                                </thead>
                                <tbody>

                                {% for service in services %}

                                    <tr>
                                        <td>
                                            <a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.id }}</a>
                                        </td>
                                        <td>{{ service.type}}</td>
                                        <td>{{ service.description }}</td>
                                        <td>
                                            <a href="{{ path('service_show', { 'id': service.id }) }}"><i
                                                        class="material-icons">remove_red_eye</i></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('service_edit', { 'id': service.id }) }}"><i
                                                        class="material-icons">build</i></a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <hr>
                            <ul>
                                <li>

                                    <a href="{{ path('service_new') }}" class="btn-floating btn-large waves-effect waves-light light-green"><i class="material-icons">create</i>Ajouter un
                                        service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
